.tank-buttons {
    float:right;
    padding:10px;

}
.tank-search {
    width:250px;
    float:right;
    padding:5px;

}
.tank-input{
    height:28px;
}
#tankSearch{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right:none;

}
#tankSearchBtn{
    width:200px;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
}
#tankTargetId>.row>.table-responsive{
    overflow-x:scroll;
}