#dvcSrch{
    width:241px;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
}#dvcSrchBtn{
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
     border-right:none;
 }
.hr-manageAcc{
    margin-top:5px;
    margin-bottom:5px;
}
#mngDevice.container-fluid{
    margin-top:10px;
    margin-bottom:30px;
}
.table-bordered>tbody>tr>td{
    text-align:center;
}
#createDevice.modal{
    margin:0;
    left:0;right:0;top:0;
    width:100%;
    height:100vh;
    background:transparent;
}
#createDevice > .modal-dialog{
    margin-top:80px;
    width:40%;
}

#createDevice >.modal-dialog > .modal-content > .modal-body{
    max-height:unset;
}
.add-device>tbody>tr>td{
    padding-top:5px;
    padding-bottom:5px;
}
.add-dev-tbox{
    border-radius:3px;
    padding:4px;
    border:1px solid #ccc;
}
.add-device>li>a{
    cursor:pointer;
    padding:5px;
    padding-left:10px;
    font-size:13px;

}
.add-device>li>a:hover{
    cursor:pointer;
    background:#0088cc;
    color:#fff;
}
