.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 0px ;
}

.tabs-left > .nav-tabs > li.active>a
{
    border:none;
    background:#0088CC;
    color: #fff;

}

.tabs-left > .nav-tabs > li.active>a>h6
{

    color: #fff;
}

.tabs-left > .nav-tabs > li>a
{
    border:unset;
    background:unset;
    color:#333333;
    border-radius: 0px;
}

.tabs-left > .nav-tabs > li>a:hover
{
    background:unset;
}

.tabs-left > .nav-tabs > li.active>a:hover
{
    background:#0088CC;
    cursor:pointer;
}

.number-h6{
    float: right;
    color: #999999;
}

.add-menu>li{
    width:73px;
    padding-top:5px;
    padding-bottom:5px;
    cursor:pointer;
}
#sideMenuUl>li>a{
    padding-left:5px;
    padding-right:5px;

}

.manage-col2{
    background-color: #f5f5f5;
    height:530px;padding-left: 0px;
    padding-right: 0px;width:218px;
}

.teez-carret{
    background-color:#E6E3E4;
    padding-top: 5px;
    width:145px;
    padding-bottom: 5px;
}

.teez-carret>a:hover{
    text-decoration: none;
    cursor: pointer;
}

.acount-h6{
    padding-left: 5px;
}

.teez-h4{
    padding-left: 5px;
}


#makeTank{
    background-color:#E6E3E4;
    padding-top:5px;
}

#typeTank{
    background-color:#E6E3E4;
}

#modelTank{
    background-color:#E6E3E4;
}

.img-manage{
    width:20px;
}

.manage-col10{
    width:1070px;
}