
#createAccount.modal {
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: transparent;
}

#createAccount > .modal-dialog {
    margin-top: 80px;
    width: 40%;
}

#createAccount > .modal-dialog > .modal-content > .modal-body {
    max-height: unset;
}
