<link rel="stylesheet" href="css/administration/myaccount.css" type="text/css">
<div class="container-fluid">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12" style="  padding-bottom: 3px">
            <div class="pull-left">
                <p style="font-weight: bold; font-size: 14px;margin-top:10px;margin-left:10px;margin-bottom:0;">Manage
                    Accounts</p>
            </div>
            <div class="pull-right">
                <button class="btn btn-success btn-sm acc-create" data-toggle="modal" data-target="#createAccount">
                    <span class="glyphicon glyphicon-plus"></span>Create New
                </button>
                <button type="button" class="btn btn-primary btn-sm acc-delete" onclick="notEnabled()"
                        data-toggle="modal">Delete Account
                </button>
            </div>
        </div>
    </div>
    <hr style="margin: 0px 10px 0px 0px;">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="manageAccAccounts" style="margin-top: 15px">

        </div>
    </div>

</div>
<script id="mngActTemplateId" type="text/html">

    <tgrid>
        <tgrid:head>
            <tr>
                <th rowspan="2"><input type="checkbox"/></th>
                <th rowspan="2">Account Name</th>
                <th rowspan="2">Email</th>
                <th rowspan="2">Phone</th>
                <th rowspan="2">Address</th>
                <th rowspan="2">CreateBy</th>
                <th rowspan="2">CreatedTime</th>
                <th rowspan="2">Action</th>
            </tr>

        </tgrid:head>
        <tgrid:body>

            <tr class="tgb-row" style="white-space: nowrap">
                <td><input type="checkbox"/></td>
                <td>{%= data.ReasonCode ? data.ReasonCode : 'null' %}</td>
                <td>{%= data.TankLevel ? data.TankLevel :'-' %}</td>
                <td>{%= data.LiquidQuantity ? data.LiquidQuantity :'-' %}</td>
                <td>{%= data.FaultCode ? data.FaultCode :'-' %}</td>
                <td>{%= data.FaultSource ? data.FaultSource :'-' %}</td>
                <td>{%= data.Temprature ? data.Temprature :'-' %}</td>
                <td><a href="javascript:void(0)" style="">Edit</a></td>
            </tr>
        </tgrid:body>
        <tgrid:footer>
        </tgrid:footer>
    </tgrid>
</script>


<!-- The modal -->

<div class="modal fade" id="createAccount" role="dialog">
    <div class="modal-dialog">
        Modal content
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabel">Create Account</h4>
            </div>
            <div class="modal-body no-padding">
                <form class="form-horizontal" style="padding-top: 15px">
                    <div class="control-group">
                        <label class="control-label">Account Name</label>
                        <div class="controls">
                            <input type="text" id="custName" placeholder="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            <input type="text" id="custEmail" placeholder="johnmathew@domain.com">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Phone</label>
                        <div class="controls">
                            <select id="AccCountryCode" style="width:58px;">
                                <option value="1">+1 (US)</option>
                                <option value="355">+355 (Albania)</option>

                                <option value="1">+1 &nbsp;&nbsp;(US / Canada)</option>

                                <option value="52">+52 &nbsp;&nbsp;(Mexico)</option>

                            </select>
                            <input type="text" style="width:48%;" id="custPhone" placeholder="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Address</label>
                        <div class="controls">
                            <textarea id="custAddress" placeholder="Address"></textarea>
                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm acc-create" data-toggle="modal">Create
                </button>
            </div>

        </div>

    </div>
</div>
<script src="js/adminstration/accounts.js"></script>

