<link rel="stylesheet" href="css/administration/manageDevice.css" type="text/css">

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 style="float:left;margin-top:10px;margin-left:10px;">Manage Devices</h4>
            <div class="pull-right">
                <div class="input-group "  style="display: inline-flex;">


                    <button class="btn btn-default" type="button" id="dvcSrchBtn"> <i class="icon-search"></i></button>
                    <input type="text" class="form-control" placeholder="Search for IMEI"  id="dvcSrch">
                    <a href="javascript:void(0)" id="deviceClear" style="display: none"><i class="fa fa-times" style="position: absolute;right: 13px;z-index: 100;top: 8px;"></i></a>

                </div>
            </div>

        </div>

    </div>
    <hr class="hr-manageAcc">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <span class="btn btn-success" data-toggle="modal" data-target="#createDevice"><i class="icon-plus icon-white"></i> Create New</span>
                <span class="btn btn-success" onclick="notEnabled()">Move to Account</span>
                <span class="btn btn-primary" onclick="notEnabled()">Delete Device(s)</span>

            </div>
        </div>
    </div>

</div>
<div class="container-fluid" id="mngDevice">

</div>
<script id="mngDvcTemplate" type="text/html">
    <tgrid>
        <tgrid:head>
            <tr>


                <th rowspan="2"><input type="checkbox" /></th>
                <th rowspan="2">DeviceId</th>
                <th colspan="3">Tanks</th>
                <th rowspan="2">Serial No.</th>
                <th rowspan="2">Type</th>
                <th rowspan="2">Created By</th>
                <th rowspan="2">Created Time</th>
                <th rowspan="2">Edit</th>


            </tr>
            <tr>
                <th>Sensor 1</th>
                <th>Sensor 2</th>
                <th>Sensor 3</th>

            </tr>

        </tgrid:head>
        <tgrid:body>
            <tr class="tgb-row" style="white-space: nowrap">
                <td style="text-align:center"><input type="checkbox" /></td>
                <td>{%= data.faultCode ? data.faultCode :'0'%}</td>
                <td>{%= data.faultSource ? data.faultSource :'0'%}</td>
                <td>{%= data.temperature ? data.temperature :'0'%}</td>
                <td>{%= data.battery ? data.battery :'0'%}</td>
                <td>{%= data.pressure ? data.pressure :'0'%}</td>
                <td>{%= data.sensorReading ? data.sensorReading :'0'%}</td>
                <td>{%= data.battery ? data.battery :'0'%}</td>
                <td>{%= data.pressure ? data.pressure :'0'%}</td>
                <td><a href="javascript:void(0)">Edit</a></td>


            </tr>
        </tgrid:body>
    </tgrid>
</script>






<div class="modal " id="createDevice" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">

                   Create Device</h4>
            </div>

            <div class="modal-body ">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 ">
                            <table class="add-device">
                                <tr>
                                    <td>Name</td>
                                    <td><input type="textbox" class="add-dev-tbox" /></td>
                                </tr>
                                <tr>
                                    <td>Type.</td>








                                    <td> <div class="dropdown device-dd" style="display: inline-block" id="dType">
                                        <button class="btn btn-default dropdown-toggle" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                           <span id="sDvcType">TankIQ</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu add-device" id="devType">
                                            <h6 class="fontchg" style="font-size: 10px; padding:5px; padding-left: 15px; border-bottom: 1px #DDD solid; ">Choose DeviceType</h6>
                                             <li><a>TankIQ</a></li>
                                             <li><a>Plc</a></li>

                                        </ul>
                                    </div></td>
                                </tr> <tr>
                                    <td>Serial No.</td>
                                    <td><input type="textbox" class="add-dev-tbox" /></td>

                                </tr>
                                <tr>
                                    <td><hr></td>
                                    <td><hr></td>

                                </tr>

                                <tr>
                                    <td>Manufacturer Identification</td>
                                    <td><input type="textbox" class="add-dev-tbox" /></td>
                                </tr>
                                <tr>
                                    <td>Manufacturer Model</td>
                                    <td><input type="textbox" class="add-dev-tbox" /></td>
                                </tr>


                                <tr>
                                    <td>Battery Nominal Volt.</td>
                                    <td> <div class="dropdown all-account dropup" style="display: inline-block">
                                        <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                              <span id="sVolt">---select---</span>
                                             <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu add-device" id="dVolt">
                                            <li><a>12</a></li>
                                            <li><a>24</a></li>
                                        </ul>
                                    </div></td>
                                </tr>

                                <tr>
                                    <td></td>

                                    <td>
                                        <input type="button" onclick="createNewDevice();" value="Create" class="btn btn-primary">
                                        <button style="margin-left: 5px;" data-dismiss="modal" aria-hidden="true" class="btn">Cancel</button>

                                    </td>
                                </tr>

                            </table>
                        </div>



                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="js/adminstration/manageDevice.js"></script>