<style>
   /* .bel{
        margin-top:5px;
        margin-bottom:5px;
    }*/
    #userSrch{
        width:200px;
        border-top-right-radius:4px;
        border-bottom-right-radius: 4px;
    }#userSrchBtn{
         border-top-right-radius: 0;
         border-bottom-right-radius: 0;
         border-right:none;
     }
</style>

<div id="oldUser">
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="pull-left">
                <h4 style="margin-top: 30px;margin-left:10px;">Manage Users</h4>
            </div>
            <div class="input-group pull-right" style="margin-top:20px;display: inline-flex;">
                <button type="button" class="btn btn-success" onclick="createuser()"><span class="glyphicon glyphicon-plus" style="color:white;"></span>
                    Create User</button>&nbsp;
                <button type="button" class="btn btn-Default" onclick="notEnabled()">Delete</button>&nbsp;
                <button class="btn btn-default" type="button" id="userSrchBtn"> <i class="icon-search"></i></button>
                <input type="text" class="form-control" placeholder="Search Username"  id="userSrch">
            </div>
        </div>
    </div>

</div>
<hr style="margin:5px 20px 5px 20px;">
<br><br>
<div class="container-fluid" id="manageUser">


</div>
</div>
<br>
<div class="container-fluid" id="newUser" style="display: none;">
    <h4 style="margin-left:10px;">Create New User</h4>

    <div class="row">
        <div class="col-md-offset-6 col-md-6" style="border:1px solid white;margin-left:0px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input type="email" class="form-control"  placeholder="firstname">
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="email" class="form-control"  placeholder="Enter email" name="email">
                        </div>

                        <div class="form-group">
                            <label class="control-label" >Role</label>
                            <select class="selectpicker">
                                <option>Admin</option>
                                <option>User</option>
                            </select>

                    </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="email" class="form-control"  placeholder="username" >
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="email" class="form-control"  placeholder="password" >
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="email" class="form-control"  placeholder="phonenumber">
                        </div>
                        <div class="control-group">
                            <label class="control-label" >Address</label>
                            <div class="controls">

                                <textarea   style="width:200px;" ></textarea>
                            </div>
                        </div>
                </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="email" class="form-control"  placeholder="lastname">
                        </div>
                        <div class="form-group" style="height: 80px;">

                        </div>
                        <div class="form-group">
                            <a class="control-label" onclick="addnew()"style="margin-left:80px;cursor:pointer;"><span class="glyphicon glyphicon-plus" style="color:black;"></span> Addnew</a>
                        </div>
                        <div class="form-group" style="height: 80px;">

                        </div>
                        <div class="form-group">
                            <label>Conform Password </label>
                            <input type="email" class="form-control"  placeholder="conformpassword" >
                        </div>
                        <div class="form-group">
                            <label class="control-label" >Role</label>
                            <select class="selectpicker">
                                <option>Admin</option>
                                <option>User</option>
                            </select>

                        </div>



                    </div>

        </div>


    </div>

        </div>

    </div>
    <div class="container-fluid ">
        <div class="row" style="margin-bottom: 40px;">

            <div class="col-md-12 " style="padding-left: 130px;">
                <button type="button" class="btn btn-primary">Create New</button>&nbsp;
                <button type="button" class="btn btn-Default">Delete</button>&nbsp;
            </div>
        </div>
    </div>

</div>

<div id="roleeId" >
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="pull-left">
                <h4 style="margin-top: 10px;">Manage Role</h4>
            </div>
            <div class="input-group pull-right" >
                <button type="button" class="btn btn-success"onclick="createrole()" ><span class="glyphicon glyphicon-plus" style="color:white;"></span>
                    Create Role</button>&nbsp;

            </div>
        </div>
    </div>
</div>


<hr style="margin:5px 20px 5px 20px;">

<div class="container-fluid" id="manageRole">


</div>

</div>

<div id="roleButton" style="display: none;">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p class="pull-left" style="font-size: 14px; font-weight: bold">Create New Role &nbsp;</p>
            <a href="javascript:void(0)" onclick="managerole()">(Manage Roles)</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="">
            <label>Role Name</label>
            <input type="text" id="custName" placeholder="" style="height: 27px">
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="role-head">
                            <div class="row">
                                <div class="col-md-12" style="margin:20px 0px 0px 0px;">
                                    <p class="pull-left">ACCESSIBILITY</p>
                                    <p class="pull-right"><input type="checkbox"/>&nbsp;<a href="javascript:void(0)">Manage
                                        All</a></p>
                                </div>
                            </div>
                        </div><hr style="margin:0px 0px 0px 0px;">
                        <div class="row" style="">
                            <div class="col-md-6" style="padding-right:0">
                                <ul style="list-style-type: none; display: inline-block; padding-top: 20px">
                                    <li style="padding: 0 0 25px 0">
                                        <span class="pull-left">
                                        <img src="../images/arrow_white.png"/>
                                        <img src="../images/ic_admin.png"/>
                                        Administration</span>
                                    </li>

                                    <li style="padding: 5px 0 25px 0">
                                        <span class="pull-left">
                                        <img src="../images/arrow_white.png"/>
                                        <img src="../images/ic_tracking.png"/>
                                        Monitoring</span>
                                    </li>

                                    <li style="padding: 5px 0 25px 0">
                                        <span class="pull-left">
                                        <img src="../images/arrow_white.png"/>
                                        <img src="../images/ic_admin (1).png"/>
                                        TankiQ 2.0</span>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-6" style="margin-right:0px;">
                                <ul style="list-style-type: none; display: inline-block; padding-top: 20px">
                                    <li style="padding: 0 0 10px 55px"><input type="checkbox"/></li>
                                    <li style="padding: 0 0 10px 55px"><input type="checkbox"/></li>
                                    <li style="padding: 0 0 15px 55px"><input type="checkbox"/></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="margin-left:80px;">
            <button type="button" id="createRoleId" class="btn btn-primary btn-sm acc-create" onclick="createrole(this.id)">
                Create Role</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
</div>
</div>


<script id="userTemplate" type="text/html">
    <tgrid>
        <tgrid:head>
            <tr>
                <th><input type="checkbox" /></th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Role</th>
                <th>CreatedBy</th>
                <th>Created Time</th>
                <th>Action</th>

            </tr>
        </tgrid:head>
        <tgrid:body>
            <tr >
                <td style="text-align:center"><input type="checkbox" /></td>
                <td>{%= data.profiles.firstName ? data.profiles.firstName :'-'%}</td>
                <td>{%= data.profiles.firstName ? data.profiles.firstName :'-'%}</td>
                <td>{%= data.email? data.email :'-'%}</td>
                <td>{%= data.country ? data.country :'-'%}</td>
                <td>{%= data.profiles.phoneNo ? data.profiles.phoneNo :'-'%}</td>
                <td>{%= data.role.name ? data.role.name :'-'%}</td>
                <td>{%= data.alert ? data.alert :'-'%}</td>
                <td>{%= data.createdTime ? data.createdTime :'-'%}</td>
                <td><a href="javascript:void(0)">Edit</a> </td>


            </tr>
        </tgrid:body>
    </tgrid>
</script>

<script id="roleTemplate" type="text/html">
    <tgrid>
        <tgrid:head>
            <tr>

                <th>Role Name</th>
                <th>CreatedBy</th>
                <th>Created Time</th>
                <th>Edit</th>

            </tr>
        </tgrid:head>
        <tgrid:body>
            <tr >

                <td>{%= data.profiles.firstName ? data.profiles.firstName :'-'%}</td>

                <td>{%= data.role.name ? data.role.name :'-'%}</td>

                <td>{%= data.createdTime ? data.createdTime :'-'%}</td>
                <td><a href="javascript:void(0)">Edit</a> </td>


            </tr>
        </tgrid:body>
    </tgrid>
</script>

<script src="js/adminstration/user.js"></script>

