<link rel="stylesheet" href="css/administration/manageTank.css" type="text/css">
<script src="js/adminstration/manageTank.js"></script>
<br>
<div id="oldTank">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ">
            <h4 style="padding:0px;margin-top:10px;margin-left:10px;">Manage Tanks</h4>
        </div>
        <div class="col-md-6 ">
            <div class="pull-right">
                <div class="input-group" style="display:inline-flex;">
                    <button class="btn btn-default" type="button" id="tankSearch"> <i class="icon-search"></i></button>
                    <input type="text" class="form-control" placeholder="Search Username"  id="tankSearchBtn">
                </div>
            </div>

        </div>

    </div>
    <hr class="hr-manageAcc">
</div>

    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="tank-buttons">
                <button class="btn btn-success move-tank" onclick="notEnabled()">Move to Account</button>
                <button class="btn btn-primary delete-tank" onclick="notEnabled()">Delete Tank</button>
            </div>

        </div>
    </div>
</div>
    <!--Tgrid Started-->
    <div class="container-fluid " id="tankTargetId" style="margin-bottom:50px">

    </div>
</div>
<div class="create-tank" id="newTank" style="margin-top: 24px;margin-left:15px;">
    <h4>Create New Tank</h4>
    <div class="row">
        <div class="col-md-3">
            <p style="margin:15px 0 0 15px;">Name</p>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" style="width:250px;margin-top:15px;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p style="margin:0px 0 0 15px;">Shape</p>
        </div>
        <div class="col-md-9">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Cylinder
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Choose a shape</li>
                    <li><a href="javascript:void(0)">Cyclinder</a></li>
                    <li><a href="javascript:void(0)">cuboid</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p style="margin:15px 0 0 15px;">Height</p>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" style="width:250px;margin-top:15px;">
        </div>
        <div class="col-md-6"style="margin-top:14px;border-radius: 1px;">
            <select style="width:83px;">
                <option value="volvo">Inches</option>
                <option value="saab">Meters</option>
                <option value="opel">Feet</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p style="margin:5px 0 0 15px;">Diameter</p>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" style="width:250px;margin-top:5px;">
        </div>
        <div class="col-md-6"style="margin-top:5px;border-radius: 1px;">
            <select style="width:83px;">
                <option value="volvo">Inches</option>
                <option value="saab">Meters</option>
                <option value="opel">Feet</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p style="margin:8px 0 0 15px;">Tank Offset</p>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" style="width:250px;margin-top:8px;">
        </div>
        <div class="col-md-6"style="margin-top:8px;border-radius: 1px;">
            <select style="width:83px;">
                <option value="volvo">Inches</option>
                <option value="saab">Meters</option>
                <option value="opel">Feet</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p style="margin:7px 0 0 15px;">Tank Sensor Max. Pressure</p>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" style="width:250px;margin-top:7px;"><span style="color:#999999;margin-left:6px;">PSI</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p style="margin:0px 0 0 15px;">Tank Material</p>
        </div>
        <div class="col-md-9">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Oil
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Choose a Material</li>
                    <li><a href="javascript:void(0)">Oil</a></li>
                    <li><a href="javascript:void(0)">Water</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p style="margin:15px 0 0 15px;">Liquid Specific Gravity</p>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" style="width:250px;margin-top:15px;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p style="margin:2px 0 0 15px;">Tank Volume</p>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" disabled="disabled"style="width:250px;margin-top:6px;"><span style="color:#999999;margin-left:6px;">in Gallons</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="text-align:center;">
            <button class="btn btn-primary" style="margin-top:10px;">Create</button>
            <button class="btn btn-default" style="margin-top:10px;">Cancel</button>
        </div>
        <div class="col-md-6"></div>
    </div>

</div>

    <script id="tankTemplateId" type="text/html">
        <tgrid >
            <tgrid:head>
                <tr>
                    <th><input type="checkbox" value=""></th>
                    <th>Tank</th>
                    <th>Type</th>
                    <th>Material</th>
                    <th>Shape</th>
                    <th>Height</th>
                    <th>Diameter</th>
                    <th>Volume</th>
                    <th>TankOffset</th>
                    <th>SensorMax. Pressure</th>
                    <th>Device</th>
                    <th>Sensorchoice</th>
                    <th>CreatedBy</th>
                    <th>CreatedTime</th>
                    <th>Edit</th>

                </tr>
            </tgrid:head>
           <tgrid:body>
                <tr>
                    <td><input type="checkbox" value=""></td>
                    <td>{%= data.assetName ? data.assetName : '-' %}</td>
                    <td>{%= data.type ? data.type : '-' %}</td>
                    <td>{%= data.material.materialName ? data.material.materialName : '-' %}</td>
                    <td>{%= data.assetShape.shapeName ? data.assetShape.shapeName : '-' %}</td>
                    <td>{%= data.heightInInches ? data.heightInInches : '-' %}</td>
                    <td>{%= data.diameterInInches ? data.diameterInInches : '-' %}</td>
                    <td>{%= data.totalVolume ? data.totalVolume : '-' %}</td>
                    <td>{%= data.tankOffsetInInches ? data.tankOffsetInInches : '-' %}</td>
                    <td>{%= data.sensorMaxPsi ? data.sensorMaxPsi : '-' %}</td>
                    <td>{%= data.assetName ? data.assetName : '-' %}</td>
                    <td>{%= data.sensorChoice ? data.sensorChoice : '-' %}</td>
                    <td>{%= data.createdVia ? data.createdVia : '-' %}</td>
                    <td>{%= data.createdTime ? data.createdTime : '-' %}</td>
                    <td><a>Edit</a></td>
                </tr>

            </tgrid:body>
            <tgrid:footer>
            </tgrid:footer>
        </tgrid>
    </script>
