
<link rel="stylesheet" href="css/administration/manageAccount.css" type="text/css">
<script src="js/adminstration/manageAccount.js"></script>

<div class="container-fluid">
    <div class="row" style="display: flex;">
        <div class="col-md-2 manage-col2">
            <div class="tabbable tabs-left" style="display:flex">
               <ul class="nav nav-tabs" id="sideMenuUl" style="margin-right: 0px;width:145px;">
                  <li>

                <!--   <div class="pull-left dropdown">
                          <div style="background-color: #E6E3E4;margin-left:-10px;width:152px;padding:5px;">
                              <h6>Account</h6>
                              <a href="javascript:void(0)" onclick="accountHiearchy('admin-left-account-menu')" style="text-decoration:none;">
                                  <b class="caret" style="float:right;margin-right:20px;margin-top:-5px;"></b>
                                  <h4 id="clickedAccount">Teezle</h4></a>
                              <div class="leftadminmenu" style="min-width: 300px; padding: 5px; font-size: 12px; background-color: white; position: absolute; margin-top: 5px;z-index:10; box-shadow: rgb(136, 136, 136) 5px 5px 5px; border-radius: 3px; line-height: 2em !important;" aria-labelledby="dropdownMenu" role="menu" id="admin-left-account-menu">
                                  <div style="border-bottom:1px solid #D6D6D6;padding-bottom:4px;margin-left:5px;">
                                      <h6>My Account</h6>
                                      <div style="padding-left:5px;padding-top:5px;font-size:13px;cursor:pointer" onclick="adminMenuClick('514c07d75a4c4c4e4901b1b4','Teezle');">  Teezle</div>
                                  </div>
                                  <div class="adminlefaccount overflow-account-list" style="margin-left:10px;margin-top:5px;font-size:13px;"><div class="row-fluid account_514c07d75a4c4c4e4901b1b5 parent parent-514c07d75a4c4c4e4901b1b4" style="margin-left:0px; display:block;"><div class="span12 hover"><i class="account-img-514c07d75a4c4c4e4901b1b5" style="display:block; float:left;height:28px; width:16px;" id="514c07d75a4c4c4e4901b1b5" onclick="getChildAccount(this, '514c07d75a4c4c4e4901b1b5','Rugged Telemetry','514c07d75a4c4c4e4901b1b4')"><img src="images/arrow_white.png"></i><span class="account-name-list account-514c07d75a4c4c4e4901b1b5" style="display:block; test-transform:capitalize;cursor:pointer;" onclick="adminMenuClick('514c07d75a4c4c4e4901b1b5','Rugged Telemetry');">Rugged Telemetry</span></div><div class="subaccount_514c07d75a4c4c4e4901b1b5 collapse-514c07d75a4c4c4e4901b1b4" "="" style="margin-left:15px;"></div></div>
                              </div>
                          </div>
                      </div>-->

                      <div class="teez-carret" onclick="notEnabled()">
                          <h6 class="acount-h6">Account</h6>
                          <a>
                              <b class="caret"  data-toggle="dropdown" style="float: right;margin-right: 20px;"></b>
                             <!--<ul class="dropdown-menu mont-ulclas" style="font-size: 13px;-->
                                <!--color: #333333;width: 300px;padding-bottom:15px;">-->
                                 <!--<li class="montr-list" id="montId"-->
                                     <!--style="color: #999999;font-size: 11px;font-weight: bold;padding-bottom:5px">My Account</li>-->

                                 <!--<li class="montr-list" style="padding-bottom: 5px;">Teezle</li>-->
                                 <!--&lt;!&ndash;<hr>&ndash;&gt;-->
                                 <!--&lt;!&ndash;<li class="divider" ></li>&ndash;&gt;-->
                                 <!--<li class="montr-list">Rugged Telemetry</li>-->
                             <!--</ul>-->
                              <h4 class="teez-h4">Teezle</h4>
                          </a>
                      </div>
                 </li>

                <li class="active" id="tankyId" onclick="sidefunction(this.id)">
                  <a data-toggle="tab" href="#tanks">
                      <img src="/images/admin/assets.png" class="img-manage">&nbsp;
                    <span>Tanks</span>
                      <h6 class="number-h6">(<span>8</span>)
                    </h6>
                  </a>
               </li>

                <li id="deviceeId" onclick="sidefunction(this.id)">
                  <a data-toggle="tab" href="#devices">
                      <img src="/images/admin/device.png" class="img-manage">
                    <span>Devices</span>
                      <h6 class="number-h6">(<span>4</span>)
                    </h6>
                  </a>
               </li>

               <li id="userssId" onclick="sidefunction(this.id)">
                 <a data-toggle="tab" href="#users">
                     <img src="/images/admin/users.png" class="img-manage">
                   <span>Users</span>
                    <h6 class="number-h6">(<span>7</span>)
                  </h6>
                </a>
             </li>

              <li id="accountssId" onclick="sidefunction(this.id)">
                <a data-toggle="tab" href="#accounts">
                    <img src="/images/admin/accounts.png" class="img-manage">&nbsp;
                  <span>Accounts</span>
                    <h6 class="number-h6">(<span>10</span>)
                 </h6>
              </a>
           </li>
        </ul>


    <ul id="tankPageUl" style="list-style: none;text-align: left;margin-left:0px;" class="add-menu">
      <li id="addTank" class="addassets" onclick="addtank(this.id);"><a style="text-decoration:none;color:#333333;"><div align="center">
          <i class="icon-plus"></i><br>Add</div></a></li>

      <li id="manageAll" class="default-menu manageassets admin-left-sub-menu-selected" onclick="addtank(this.id);"><div align="center">
           <i class="icon-list"></i><br>Manage</div></li>

      <li id="uploadTank" onclick="notEnabled();"><div align="center">
           <i class="icon-folder-close"></i><br>Upload</div></li>

      <li id="exportTank" onclick="notEnabled();"><div align="center">
          <i class="icon-download-alt"></i><br>Export</div></li>

      <li id="makeTank" onclick="notEnabled();"><div align="center">
          <i class="icon-certificate"></i><br>Make</div></li>

      <li id="typeTank" onclick="notEnabled();"><div align="center">
           <i class="icon-certificate"></i><br>Type</div></li>

      <li id="modelTank" onclick="notEnabled();"><div align="center">
           <i class="icon-certificate"></i><br>Model</div></li>

        </ul>



      <ul id="devicePageUl"  style="list-style: none;text-align: left;margin-left:0px;display:none" class="add-menu">
                    <li id="addTankDev" class="addassets"  data-toggle="modal" data-target="#createDevice"><a style="text-decoration:none;color:#333333;"><div align="center">
                        <i class="icon-plus"></i><br>Add</div></a></li>

                    <li id="manageAllDev" class="default-menu manageassets admin-left-sub-menu-selected" onclick="secondfunction(this.id);"><div align="center">
                        <i class="icon-list"></i><br>Manage</div></li>

                    <li id="exportTankDev" onclick="notEnabled();"><div align="center">
                        <i class="icon-download-alt"></i><br>Export</div></li>
               </ul>



      <ul id="userPageUl" style="list-style: none;text-align: left;margin-left:0px;display: none;" class="add-menu">
                    <li id="addTankUser" class="addassets" onclick="thirdfunction(this.id);"><a style="text-decoration:none;color:#333333;"><div align="center">
                        <i class="icon-plus"></i><br>Add</div></a></li>

                    <li id="manageAllUser" class="default-menu manageassets admin-left-sub-menu-selected" onclick="thirdfunction(this.id);"><div align="center">
                        <i class="icon-list"></i><br>Manage</div></li>

                    <li id="exportTankUser" onclick="notEnabled();"><div align="center">
                        <i class="icon-download-alt"></i><br>Export</div></li>

                    <li id="roleTankUser" onclick="thirdfunction(this.id);"><div align="center">
                        <i class="icon-certificate"></i><br>Role</div></li>

                </ul>



      <ul id="accountPageUl" style="list-style: none;text-align: left;margin-left:0px;display: none" class="add-menu">
                    <li id="addTankAcc" class="addassets" data-toggle="modal" data-target="#createAccount"><a style="text-decoration:none;color:#333333;"><div align="center">
                        <i class="icon-plus"></i><br>Add</div></a></li>

                    <li id="manageAllAcc" class="default-menu manageassets admin-left-sub-menu-selected" onclick="fourthfunction(this.id);"><div align="center">
                        <i class="icon-list"></i><br>Manage</div></li>

                    <li id="exportTankAcc"  onclick="notEnabled();"><div align="center">
                        <i class="icon-download-alt"></i><br>Export</div></li>

                </ul>
            </div>
       </div>


    <div class="col-md-10 manage-col10">
      <div class="tab-content">
          <div class="tab-pane active" id="tanks">
                <%- include('administration/manageTank.html') %>
            </div>

           <div class="tab-pane" id="devices">
               <%- include('administration/manageDevice.html') %>
           </div>

           <div class="tab-pane" id="users">
               <%- include('administration/manageUsers.html') %>
           </div>

            <div class="tab-pane" id="accounts">
               <%- include('administration/accounts.html') %>
            </div>
          </div>
       </div>
    </div>
</div>
