<div class="container text-center" style="width:30%;position:relative;top:100px">

  <form action="/loginSubmit">
 <h2>  Login</h2>
    <div class="form-group text-left">
      <label for="email" class="text-left">Username:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Username" name="email">
    </div>
    <div class="form-group">
      <label for="pwd" class="text-left">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>

      <div class="checkbox">
          <label><input type="checkbox" id="rememberMe" value="">keep me logged In</label>
      </div>


    <button type="submit" class="btn btn-primary"><i class="icon-lock icon-white fadeImg"></i> Login to Tank Monitoring System</button>
  </form>
</div>

<script src="js/login.js"></script>