<style>
    .loader-bx{
        text-align: center;
        margin-top: 150px;
    }

    .ball-beat > div {
        background: rgba(0, 162, 255, 0.72);
    }

    .ball-beat.gray > div {
        background: #999;
    }

    .ball-beat.orange > div {
        background: orange;
    }

    #bodyContent{
        border: 1px solid red;
    }

</style>
<div class="loader-bx">
    <!--<img src="/images/Preloader_3.gif">-->
    <div class="loader"><div class="loader-inner ball-beat"><div></div><div></div><div></div></div></div>
</div>

<script>
    $(document).ready(function(){

    })
</script>