<!-- Modal -->
<div class="modal " id="stsImgUpload" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">
                    <i class="icon-th" style="margin-top:3px;margin-right:3px; "></i>
                    <span class="pump-name-capitalize">TP_Bowser_1</span></h3>
            </div>

            <div class="modal-body no-padding">
                <label class="no-margin" style="padding: 5px;padding-left:15px; background:#f5f5f5;color:#888888;font-size: 12px;">
                    Current Location: <span style="color:#333333;" class="currentPhLoc">R56, Eastern Cape</span>&nbsp;<span style="color:#333333;">(-31.29,28.11)</span>
                    <!-- <span class="current-geofence-location" style="margin-left:25px;"></span> -->
                </label>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <div class="upload-modal">
                                <div id="imgUploadMap"></div>
                            </div>


                        </div>
                        <div class="col-md-6 no-padding">
                            <div class="img-upload text-center"><div>
                                <img src="images/no-image.png"><br><br>
                                <span class="btn btn-primary" onclick="notEnabled();"><i class="icon-plus icon-white"></i> Upload Photo</span>
                            </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
