   <link rel="stylesheet" href="css/monitoring/map.css" type="text/css">
<div class="container-fluid">
    <div class="row" style="background:#fafafa;">
        <div class="col-sm-12" style="height: 35px;">

            <div class="dropdown all-account" style="display: inline-block" id="mapAcc"    data-tg-init-search="">
                <button class="btn btn-default dropdown-toggle" type="button" id="mapAccount"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                    <!--<i class="icon-user"></i>-->
                    <span>All Accounts (<%=  accounts.length %>  )</span>

                    <span class="caret" id="caretmap"></span>
                </button>
                <ul class="dropdown-menu" id="allMap"   aria-labelledby="allAccount">

                    <% for( i = 0; i < accounts.length; i++) {  %>
                    <li><a href="javascript:void(0)"  data-tg-search-for="<%= accounts[i].accountName %>"> <%= accounts[i].accountName %></a></li>
                    <% } %>
                </ul>
            </div>
            <span>  </span>
            <div class="dropdown all-account" style="display: inline-block" id="mapAccto"    data-tg-init-search="">
                <button class="btn btn-default dropdown-toggle" type="button" id="mapFilter"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                    <span>All Tanks (<%=  assets.length %>  )</span>
                    <span class="caret"></span>  <!-- caret -->

                </button>

                <ul class="dropdown-menu" role="menu" id="mapTanks"> <!-- class dropdown-menus -->
                    <% for( i = 0; i < assets.length; i++) {  %>
                    <li><a href="javascript:void(0)" data-tg-txt="123"  data-tg-search-for="<%= assets[i].assetName %>"> <%= assets[i].assetName %></a></li>
                    <% } %>
                </ul>
            </div>


            <div class="pull-right map">
                <button type="button" class="btn btn-sm" onclick="refmap()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>&nbsp;&nbsp;

                <input class="map-search" type="text" placeholder="Search Tank" name="search">
                <button class="btn btn-primary btn-small" ><i class="fa fa-search"></i></button>
            </div>

        </div>


    </div>
</div>
<div style="position:relative">
<div class="" id="map"></div>

<div class="btn-group-vertical" >
    <button type="button" class="btn btn-tank" >
        <img src="../images/tank1.png" style="width:20px;height:25px;">
        <p onclick="notEnabled()">All Tanks</p></button>
    <button type="button" class="btn btn-alert" >
        <img src="../images/alert_map.png" style="width:30px;height:25px;">
        <p onclick="notEnabled()">Alerts</p></button>

</div>

<div class="map-bottomtable" >

    <div class="map-tanklist" onclick="mapbottomicon()">
        <span onclick="mapchangeicon()">
            <img src="../images/tank3.png" style="width:25px;margin-top:3px;">
            <b>Tank List</b>

                <span class="glyphicon glyphicon-chevron-down  pull-right" id="bottomIcon" aria-hidden="true"></span>

        </span>

    </div>

    <div class="container-fluid" id="mapTgrid">


    </div>

</div>
</div>


<script id="mapTemplate" type="text/html">
    <tgrid>
        <tgrid:head>
            <tr class="map-headtable">
                <th>Tank</th>
                <th>Message Time</th>
                <th>Reason Code</th>
                <th>Location</th>
                <th>Tank Level</th><!--<span style="color:gray">(feet)</span>-->
                <th>Pressure</th>
                <th>Sensor Reading</th>

            </tr>
        </tgrid:head>
        <tgrid:body>
            <tr style="cursor:pointer;"onclick="notEnabled()">
                <td>{%= data._id ? data._id :'-'%}<span href="javascript:void(0)" onclick="location.href='/snapshots'" rel="tooltip" class="glyphicon glyphicon-eye-open" style="padding-left: 5px;"></span></td>
                <td>{%= data.registrationTime ? data.registrationTime :'-'%}</td>
                <td>{%= data.reportingStatus? data.reportingStatus :'-'%}</td>
                <td><span class="glyphicon glyphicon-map-marker"style="padding-right: 10px;"></span>{%= data.country ? data.country :'-'%}</td>
                <td>{%= data.onboardingState ? data.onboardingState :'-'%}</td>
                <td>{%= data.vinStatus ? data.vinStatus :'-'%}</td>
                <td>{%= data.franchisee ? data.franchisee :'-'%}</td>

            </tr>
        </tgrid:body>
    </tgrid>
</script>


<script src="js/monitoring/map.js"></script>

   <script src="js/monitoring/commonmap.js"></script>

   <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2iBxqvigy_WDahAwkKYgB_GEgq8AO0CY&callback=initMap"
           async defer></script>

   <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
-->
