  <link rel="stylesheet" href="css/monitoring/notifications.css" type="text/css">
  <script src="js/monitoring/notification.js"></script>

  <div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-2" style = "padding:0; border:1px solid #CCCCCC;width:195px; background-color: #F6F6F6;">
            <ul class="side-menu-notification ">
                <li class="side-menu-item-notification head-notifiction" id="con1"><h4 class = "notify-header">Notifications</h4></li>
                <div class="emptyDiv"></div>
                <li class="side-menu-item-notification notifications active" id="con2" onclick="summaryNotify()"><a href="#summary" data-toggle="tab"><i class = "icon-th icons"></i>Summary</a></li>
                <li class="side-menu-item-notification notifications"id="con3" onclick="mynotificationNotify()"><a href="#mynotifications" data-toggle="tab"><i class = "icon-folder-open icons"></i>My Notifications</a></li>
                <div class="emptyDiv"></div>
                <li class="side-menu-item-notification create-notify"id="con4" onclick="createNotify()"><a href="#createnotify" data-toggle="tab"><i class = "icon-plus icons"></i>Create Notifications</a></li>
                <li class="side-menu-item-notification create-notify"id="con5" onclick="notEnabled()"><a href="#helpnotify" data-toggle="tab"><i class = "icon-question-sign icons"></i>Help</a></li>
            </ul>
        </div>
        <div class = "col-md-10" style="padding-right:0px;margin-bottom:60px;">
            <div class="notification-content">
                <div class="active" id="summary">
                    <h4 class="notification-tab-content"><i class = "icon-th icons"></i>Summary</h4>
                    <div class = "row" style="margin-left:0">
                        <div class = "col-md-4">
                            <div class="notifysummary">
                                <span class="summaryheading">Notifications</span>
                            </div>
                            <div class = "enablenotification">
                                <div style="margin-top:22px;padding:0 0 25px 15px;border-bottom:1px solid #cccccc;">
                                    <div>
                                        <span class="notificationcount">1</span>&nbsp;
                                        <span class="text-enabled">Notifications Enabled</span></h4>
                                    </div>
                                    <div style="margin-top:15px;">
                                        <span class="notificationcount">11</span>&nbsp;
                                        <span class="text-enabled">Total Notifications</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class = "col-md-6" style="padding-right:0px;">
                                    <button class = "btn btn-primary create-btn" onclick="createNotification()"><i class="icon-plus icons icon-white"></i>Create Notification</button>
                                </div>
                                <div class = "col-md-6" style="padding-right:0px;">
                                    <button class = "btn btn-default mynotification-btn"onclick="myNotifications()"><i class = "icon-folder-open icons"></i>My Notifications</button>
                                </div>
                            </div>
                        </div>
                        <div class = "col-md-6 col-md-offset-1">
                            <div class="notifysummary">
                                <span class="summaryheading">Channels</span>
                                <span style="float:right"><a href="javascript:void(0)" onclick="notEnabled()">Manage</a></span>
                            </div>
                            <p class="channels">3 Channel(s) available.</p>
                            <div class="" style="display : flex;">
                                <div class="summary-tank" id="tankLevel">
                                    <div class="tanklevel-img">
                                        <img class="tank-details" src="/images/notification/tank-monitoring.png">
                                    </div>
                                    <div class="text-tanklevel">
                                        Tank level
                                    </div>
                                </div>

                                <div class="batterySummary">
                                    <div class="tanklevel-img">
                                        <img class="tank-details" src="/images/notification/battery_notification.png">
                                    </div>
                                    <div class="text-battery">
                                        Battery
                                    </div>
                                </div>
                                <div class="pressureSummary">
                                    <div class="tanklevel-img">
                                        <img class="tank-details" src="/images/notification/pressure_notification.png">
                                    </div>
                                    <div class="text-pressure">
                                        Pressure
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" id="mynotifications" style="display:none;">
                    <h4 class="notification-tab-content"><i class="icon-folder-open icons"></i>My Notifications</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div style="margin:10px 0 0 30px;">
                                <span class="mynotificationcount">11</span>&nbsp;
                                <span class="text-enabled">Notifications Enabled</span></h4>
                                <span class="mynotificationcount">1</span>&nbsp;
                                <span class="text-enabled">Total Notifications</span></h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-3">
                            <button class = "btn btn-primary"onclick="createNotification()" style="float:right;width:70%;margin-top:10px;"><i class="icon-plus icons icon-white"></i>Create Notification</button>
                        </div>
                    </div>
                    <% for (var i=0;i < data.length; i++) { %>
                    <div style="border:1px solid #e9e9e9;background:#f5f5f5;border-radius:4px; margin-top:20px;">

                        <div class="row" style="border-bottom:1px solid #e9e9e9">
                            <div class = "col-md-1">
                                <div class="">
                                    <div class="mynotify-tank">
                                        <img class="mynotify-tank-details" style="width:73px;max-width: none;"src="/images/notification/tank-monitoring.png">
                                    </div>
                                    <div class="mynotify-tanklevel">
                                        Tank Level
                                    </div>
                                </div>
                            </div>
                            <div class = "col-md-3">
                                <div style="border-bottom:1px solid #aaaaaa;margin:20px 0 0 20px;"><%= data[i].gender %></div>
                                <a href="javascript:void(0)" data-toggle="modal" data-target ="#notification-modal" onclick="notEnabled()"style="margin-left:20px"><%= data[i].name %></a>
                            </div>
                            <div class = "col-md-3" style="display:flex;">
                                <div style="margin-left:25px;">
                                    <div class="sms-tank">
                                        <img class="mynotify-tank-details" src="/images/notification/sms.png">
                                    </div>
                                    <div class="sms-tanklevel">
                                        Instant Sms
                                    </div>
                                </div>
                                <div style="margin-left:16px;">
                                    <div class="email-tank">
                                        <img class="mynotify-tank-details" src="/images/notification/email.png">
                                    </div>
                                    <div class="email-tanklevel">
                                        Instant Email
                                    </div>
                                </div>
                            </div>
                            <div class = "col-md-4 col-md-offset-1">

                                    <div class="onoffswitch1">
                                        <input type="checkbox" name="onoffswitch1" class="onoffswitch1-checkbox" id="<%= data[i]._id %>" checked>
                                        <label class="onoffswitch1-label" for="<%= data[i]._id %>">
                                            <span class="onoffswitch1-inner"></span>
                                            <span class="onoffswitch1-switch"></span>
                                        </label>
                                    </div>
                                    <span class ="edit-btn" onclick="notEnabled()"><i class="icon-pencil" style="opacity:.5;"></i><a href="javascript:void(0)" class="change-btn">Edit</a></span>
                                    <span class = "delete-btn" onclick="notEnabled()"><i class="icon-trash" style="opacity:.5;"></i><a href="javascript:void(0)" class="change-btn">Delete</a></span>


                                <div class ="createdby">
                                    <p style="margin-left: 40%;">Created By: Teezle support</p>
                                    <p style="margin-left: 37%;"><%= data[i].registered %></p>
                                </div>
                            </div>
                        </div>

                        <div class = "row">
                            <div class="col-md-6">
                                <p class="issue-check">Issue check low</p>
                            </div>
                            <div class = "col-md-6">
                                <p class="sms-email">SMS : <span><%= data[i].phone %></span> &nbsp;&nbsp;Email : <span><%= data[i].email %></span></p>
                            </div>
                        </div>

                    </div>
                    <% } %>

                </div>

                <div class="" id="createnotify" style="display:none;">
                        <h4 class="notification-tab-content"><i class = "icon-plus icons"></i>Create Notifications</h4>
                        <p class="trigger-link">If <a href="javascript:void(0)" id="triggerDiv" style="color:#0080ff">Trigger</a>
                            <span class="create-trigger">Create New Trigger</span>-ed then perform <a href="javascript:void(0)"style="color:#666666">Action</a> </p>

                    <div id="showTrigger" style="display:none;">
                        <div class="row trigger-channel">
                            <div class="col-md-6" style="padding-left:0;padding-right:0">
                                <h3 style="margin:0px;">Choose a Trigger Channel</h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backProcess">Back</a></p>
                            </div>
                        </div>
                        <div>
                            <p class="channels">3 Channel(s) available.</p>
                            <div class="" style="display : flex;">
                                <div id="tankNotification">
                                    <div class="tanklevel-img">
                                        <img class="tank-details" src="/images/notification/tank-monitoring.png">
                                    </div>
                                    <div class="text-tanklevel">
                                        Tank level
                                    </div>
                                </div>
                                <div class="battery-notify">
                                    <div class="tanklevel-img">
                                        <img class="tank-details" src="/images/notification/battery_notification.png">
                                    </div>
                                    <div class="text-battery">
                                        Battery
                                    </div>
                                </div>
                                <div class="pressure-notify">
                                    <div class="tanklevel-img">
                                        <img class="tank-details" src="/images/notification/pressure_notification.png">
                                    </div>
                                    <div class="text-pressure">
                                        Pressure
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--**********************************************88-->
                    <div class="tank-exceeds"style="display:none;height: 290px">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;margin-top:200px;">
                            <div class="col-md-6" style="padding-left:0;padding-right:0">
                                <h3 style="margin-left:20px;">Choose a Condition for <span style="color:#0080ff">Tank Level Exceeds</span></h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backProcessTank">Back</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="tank-level-high">
                                    <p class="exceeds-high-heading">Tank Level High</p>
                                    <p class="exceeds-high-para">This triggers fires when Tank level reaches High.</p>
                                </div>

                                <div class="tank-level-exceeds">
                                    <p class="exceeds-high-heading">Tank Level - Exceeds</p>
                                    <p class="exceeds-high-para">This triggers fires when Tank level Exceeds the threshold.</p>
                                </div>

                                <div class="net-daily-disposal">
                                    <p class="exceeds-high-heading">Nei Daily Disposal Exceeds</p>
                                    <p class="exceeds-high-para">This triggers fires when Net Daily Disposal Exceeds the threshold.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="tank-level-low">
                                    <p class="exceeds-high-heading">Tank Level Low</p>
                                    <p class="exceeds-high-para">This triggers fires when Tank level reaches Low.</p>
                                </div>

                                <div class="tank-level-below">
                                    <p class="exceeds-high-heading">Tank Level - Below</p>
                                    <p class="exceeds-high-para">This triggers fires when Tank level Below the threshold.</p>
                                </div>

                                <div class="netDaily-gain-exceeds">
                                    <p class="exceeds-high-heading">Net daily Gain Exceeds</p>
                                    <p class="exceeds-high-para">This triggers fires when Net Daily Gain Exceeds the threshold.</p>
                                </div>
                                <div class="netDaily-gain-below">
                                    <p class="exceeds-high-heading">Net Daily Gain Below</p>
                                    <p class="exceeds-high-para">This triggers fires when Net Daily Gain Below the threshold.</p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--********************************************-->
                    <div style="height:150px;"></div>
                    <div class="battery" style="display:none;">
                        <div class="row"style="border-bottom: 1px solid #cdcdcd;">
                            <div class="col-md-6">
                                <h3 style="margin-left:20px;">Choose a Condition for <span style="color:#0080ff">Battery</span></h3>
                            </div>

                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backProcessBattery">Back</a></p>
                             </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="battery-low">
                                    <p class="battery-heading">Battery Low</p>
                                    <p class="battery-para">This triggers fires when Battery is Low.</p>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!--**********************************************88-->
                    <div class="pressure" style="display:none;">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;">
                           <div class="col-md-6">
                               <h3 style="margin-left:5px;">Choose a Condition for <span style="color:#0080ff">Pressure</span></h3>
                           </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backProcessPressure">Back</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="pressure-exceeds">
                                    <p class="pressure-heading">Pressure - Exceeds</p>
                                    <p class="pressure-para">This triggers fires when Pressure Exceeds the threshold.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="pressure-below">
                                    <p class="pressure-heading">Pressure - Below</p>
                                    <p class="pressure-para">This triggers fires when Pressure Below the threshold.</p>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    <!--************************************************-->
                    <div style="height:150px;"></div>
                    <div class="trigger-tank-high"style="display:none;">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;">
                            <div class="col-md-6">
                                <h3 style="margin-left:5px;">Include Trigger Constraints for <span style="color:#0080ff">Tank Level High</span></h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backProcessTankHigh">Back</a></p>
                            </div>
                        </div>
                        <p style="margin-top:5px;color:#9a9a9a;">The following constraints can be added to the Tank Level High</p>
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="javascript:void(0)">Tanks</a></li>

                            </ul>
                        <p style="margin-left:20px;">Complete the Tank constraints fields.
                            <span style="margin-left:20px">
                                <label class="radio-inline"><input type="radio" name="optradio">All Tanks</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Selected Account(s)</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Selected Tank(s)</label>
                            </span>
                        </p>
                        <div class="row">
                            <div class="col-md-offset-4">
                                <button class="btn btn-primary constraints-btn">Add Constraints</button>
                            </div>
                        </div>


                    </div>

                    <!--*************************************************-->
                    <div class="tanklevel-exceeds" style="height:580px;display:none;">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;">
                            <div class="col-md-6">
                                <h3 style="margin-left:5px;">Configure the  <span style="color:#0080ff">Tank Level Exceeds</span> Threshold.</h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backTankExceeds">Back</a></p>
                            </div>
                        </div>
                        <p style="margin-top:5px;color:#9a9a9a;">Please enter a <span>Tank Level</span> threshold and any value matches with the given threshold condition will trigger a notification</p>

                        <div class=""style="margin-top : 30px;">
                            <p style="margin-left:20px;">If Tank Level Exceeds <span style="margin-left:10px;"><input type="text" style="width: 30px;"> <span style="font-weight:bold;margin-left:10px;">inches</span></span></p>
                        </div>
                        <button class="btn btn-primary" style="margin-left:140px;">Create Trigger</button>
                    </div>
                    <!--******************************************************888-->
                    <div class="daily-disposal-exceeds" style="display:none;height:580px;">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;">
                            <div class="col-md-6">
                                <h3 style="margin-left:5px;">Configure the  <span style="color:#0080ff">Net Daily Disposal Exceeds</span> threshold.</h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backDailyDisposal">Back</a></p>
                            </div>
                        </div>
                        <p style="margin-top:5px;color:#9a9a9a;">Please enter a <span>Net Daily Disposal </span> threshold and any value matches with the given threshold condition will trigger a notification</p>

                        <div class=""style="margin-top : 30px;">
                            <p style="margin-left:20px;">If Net Daily Disposal Exceeds <span style="margin-left:10px;"><input type="text" style="width: 30px;"> <span style="font-weight:bold;margin-left:10px;">inches</span></span></p>
                        </div>
                        <button class="btn btn-primary" style="margin-left:140px;">Create Trigger</button>
                    </div>
                    <!--******************************************************-->
                    <div class="trigger-tank-low" style="display:none;height:580px;">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;">
                            <div class="col-md-6">
                                <h3 style="margin-left:5px;">Include Trigger Constraints for <span style="color:#0080ff">Tank Level Low</span></h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backTankLow">Back</a></p>
                            </div>
                        </div>
                        <p style="margin-top:5px;color:#9a9a9a;">The following constraints can be added to the Tank Level Low.</p>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="javascript:void(0)">Tanks</a></li>

                        </ul>
                        <p style="margin-left:20px;">Complete the Tank constraints fields.
                            <span style="margin-left:20px">
                                <label class="radio-inline"><input type="radio" name="optradio">All Tanks</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Selected Account(s)</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Selected Tank(s)</label>
                            </span>
                        </p>
                        <div class="row">
                            <div class="col-md-offset-4">
                                <button class="btn btn-primary constraints-btn">Add Constraints</button>
                            </div>
                        </div>


                    </div>
                    <!--***********************************************************-->
                    <div class="tank-below" style="display:none;height:570px;">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;">
                            <div class="col-md-6">
                                <h3 style="margin-left:5px;">Configure the  <span style="color:#0080ff">Tank Level Below</span> threshold.</h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backTankLevel">Back</a></p>
                            </div>
                        </div>
                        <p style="margin-top:5px;color:#9a9a9a;">Please enter a <span>Tank Level </span> threshold and any value matches with the given threshold condition will trigger a notification</p>

                        <div class=""style="margin-top : 30px;">
                            <p style="margin-left:20px;">If Tank Level Below <span style="margin-left:10px;"><input type="text" style="width: 30px;"> <span style="font-weight:bold;margin-left:10px;">inches</span></span></p>
                        </div>
                        <button class="btn btn-primary" style="margin-left:140px;">Create Trigger</button>
                    </div>
                    <!--*****************************************************************-->
                    <div class="net-daily-gain" style="display:none;height:570px;">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;">
                            <div class="col-md-6">
                                <h3 style="margin-left:5px;">Configure the  <span style="color:#0080ff">Net Daily Gain Exceeds</span> threshold.</h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backDailyGain">Back</a></p>
                            </div>
                        </div>
                        <p style="margin-top:5px;color:#9a9a9a;">Please enter a <span>Net Daily Gain Exceeds </span> threshold and any value matches with the given threshold condition will trigger a notification</p>

                        <div class=""style="margin-top : 30px;">
                            <p style="margin-left:20px;">If Net Daily Gain Exceeds <span style="margin-left:10px;"><input type="text" style="width: 30px;"> <span style="font-weight:bold;margin-left:10px;">inches</span></span></p>
                        </div>
                        <button class="btn btn-primary" style="margin-left:140px;">Create Trigger</button>
                    </div>
                    <!--***************************************************************-->
                    <div class="daily-gain-below" style="display:none;height:570px;">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;">
                            <div class="col-md-6">
                                <h3 style="margin-left:5px;">Configure the  <span style="color:#0080ff">Net Daily Gain Below</span> threshold.</h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backDailyBelow">Back</a></p>
                            </div>
                        </div>
                        <p style="margin-top:5px;color:#9a9a9a;">Please enter a <span>Net Daily Gain </span> threshold and any value matches with the given threshold condition will trigger a notification</p>

                        <div class=""style="margin-top : 30px;">
                            <p style="margin-left:20px;">If Net Daily Gain Exceeds <span style="margin-left:10px;"><input type="text" style="width: 30px;"> <span style="font-weight:bold;margin-left:10px;">inches</span></span></p>
                        </div>
                        <button class="btn btn-primary" style="margin-left:140px;">Create Trigger</button>
                    </div>
                    <!--**************************************************************-->
                    <div class="trigger-battery-low" style="height:570px;display:none;">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;">
                            <div class="col-md-6">
                                <h3 style="margin-left:5px;">Include Trigger Constraints for <span style="color:#0080ff">Battery Low</span></h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backBatteryLow">Back</a></p>
                            </div>
                        </div>
                        <p style="margin-top:5px;color:#9a9a9a;">The following constraints can be added to the Battery Low.</p>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="javascript:void(0)">Tanks</a></li>

                        </ul>
                        <p style="margin-left:20px;">Complete the Tank constraints fields.
                            <span style="margin-left:20px">
                                <label class="radio-inline"><input type="radio" name="optradio">All Tanks</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Selected Account(s)</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Selected Tank(s)</label>
                            </span>
                        </p>
                        <div class="row">
                            <div class="col-md-offset-4">
                                <button class="btn btn-primary constraints-btn">Add Constraints</button>
                            </div>
                        </div>


                    </div>
                    <!--******************************************************************-->
                    <div class="press-exceeds" style="display:none;height:570px;">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;">
                            <div class="col-md-6">
                                <h3 style="margin-left:5px;">Configure the  <span style="color:#0080ff">Pressure Exceeds</span> threshold.</h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backPressure">Back</a></p>
                            </div>
                        </div>
                        <p style="margin-top:5px;color:#9a9a9a;">Please enter a <span>Pressure </span> threshold and any value matches with the given threshold condition will trigger a notification</p>

                        <div class=""style="margin-top : 30px;">
                            <p style="margin-left:20px;">If Pressure Exceeds <span style="margin-left:10px;"><input type="text" style="width: 30px;"></span></p>
                        </div>
                        <button class="btn btn-primary" style="margin-left:140px;">Create Trigger</button>
                    </div>
                    <!--*********************************************************************-->
                    <div class="press-below" style="display:none;height:570px;">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;">
                            <div class="col-md-6">
                                <h3 style="margin-left:5px;">Configure the  <span style="color:#0080ff">Pressure Below</span> threshold.</h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backPressureBelow">Back</a></p>
                            </div>
                        </div>
                        <p style="margin-top:5px;color:#9a9a9a;">Please enter a <span>Pressure </span> threshold and any value matches with the given threshold condition will trigger a notification</p>

                        <div class=""style="margin-top : 30px;">
                            <p style="margin-left:20px;">If Pressure Below <span style="margin-left:10px;"><input type="text" style="width: 30px;"></span></p>
                        </div>
                        <button class="btn btn-primary" style="margin-left:140px;">Create Trigger</button>
                    </div>
                    <!--**********************************************************************-->
                    <div class="battery-action"style="display:none;height:600px;">
                        <div class="row" style="border-top: 1px solid #cdcdcd;">

                            <div class="col-md-offset-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="batteryBack">Back</a></p>
                            </div>

                            <p class="battery-link">If <a href="javascript:void(0)" id="batterydiv" style="color:#999999;">Battery</a>
                                <span class="battery-low-link">Battery Low</span>-ed then perform <a href="javascript:void(0)"style="color:#0088cc" id="action">Action</a><span class="create-action">Create New Action</span> </p>
                        </div>

                    </div>

                    <!--***********************************************************************-->
                    <div class="choose-action" style="display:none;height:600px;">
                        <div class="row" style="border-bottom: 1px solid #cdcdcd;">
                            <div class="col-md-6">
                                <h3 style="margin-left:5px;">Choose Action</h3>
                            </div>
                            <div class="col-md-6">
                                <p class="back-link"><i class="icon-arrow-up"></i><a href="javascript:void(0)" id="backChoose">Back</a></p>
                            </div>
                        </div>

                        <ul class="nav nav-tabs" style="margin-top:20px;">
                            <li class="active"><a href="javascript:void(0)">Instant Notifications</a></li>

                        </ul>
                        <p style="margin-top:5px;">Notifications will be sent immediately as they occur. Instant notifications are sent via voice, sms, email and chat.
                        </p>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 style="float:right">Call</h4>

                                    </div>
                                    <div class="col-md-8">
                                        <div class="onoffswitch1" style="top:0px;left:0px">
                                            <input type="checkbox" name="onoffswitch1" class="onoffswitch1-checkbox" id="callOnoff" checked>
                                            <label class="onoffswitch1-label" for="callOnoff">
                                                <span class="onoffswitch1-inner"></span>
                                                <span class="onoffswitch1-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 style="float:right">SMS</h4>

                                    </div>
                                    <div class="col-md-8">
                                        <div class="onoffswitch1" style="top:0px;left:0px">
                                            <input type="checkbox" name="onoffswitch1" class="onoffswitch1-checkbox" id="smsOnoff" checked>
                                            <label class="onoffswitch1-label" for="smsOnoff">
                                                <span class="onoffswitch1-inner"></span>
                                                <span class="onoffswitch1-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-left:30px;">
                                    <p style="margin-top:30px;">Phone#</p>
                                    <textarea style="height:30px;"></textarea>
                                    <ul style="color:#aaa;font-size:10px;">
                                        <li> Phone # format should be "19722355467"</li>
                                        <li> Country code should precede the phone number</li>
                                        <li> Multiple Phone Numbers are supported</li>
                                        <li> Multiple Phone Numbers should be comma separated</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 style="float:right">Email</h4>

                                    </div>
                                    <div class="col-md-8">
                                        <div class="onoffswitch1" style="top:0px;left:0px">
                                            <input type="checkbox" name="onoffswitch1" class="onoffswitch1-checkbox" id="emailOnoff" checked>
                                            <label class="onoffswitch1-label" for="emailOnoff">
                                                <span class="onoffswitch1-inner"></span>
                                                <span class="onoffswitch1-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-left:27px;">
                                    <p style="margin-top:30px;">Email#</p>
                                    <textarea style="height:30px;"></textarea>
                                    <ul style="color:#aaa;font-size:10px;">
                                        <li> Multiple Email addresses are supported</li>
                                        <li> Multiple Email addresses should be comma separated</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 style="float:right">Chat</h4>

                                    </div>
                                    <div class="col-md-8">
                                        <div class="onoffswitch1" style="top:0px;left:0px">
                                            <input type="checkbox" name="onoffswitch1" class="onoffswitch1-checkbox" id="chatOnoff" checked>
                                            <label class="onoffswitch1-label" for="chatOnoff">
                                                <span class="onoffswitch1-inner"></span>
                                                <span class="onoffswitch1-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary" style="float:right;">Confirm Notification Modes</button>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <!--******************************************************************-->
                </div>

               <!-- <div class="" id="helpnotify" style="display:none;">
                    <p>Help</p>
                </div>-->
            </div>
        </div>
    </div>
</div>

