 <link rel="stylesheet" href="css/monitoring/report.css" type="text/css">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script src="js/monitoring/report.js" type="text/javascript"></script>

  <div class="container-fluid no-padding">
     <div class="row main-row">
        <div class="col-md-2 side-column">
            <div class="report-sidee">
               <div class="report-class">
                 <h4 class="h4-report">Reports</h4>
           </div>
             <ul class="report-side-ullist">
               <li class="side-ullist" id="rawList" onClick="sidemenu(this.id)">Raw Messages</li>
               <li class="side-ullist" id="decodeList" onClick="sidemenu(this.id)">Decoded Messages</li>
               <li class="side-ullist" id="alrmList" onClick="sidemenu(this.id)">Alarm Messages</li>
               <li class="side-ullist" id="dailyReportList" onClick="sidemenu(this.id)">Daily Report</li>
            </ul>
            </div>
       </div>

         <div class="col-md-10 top-column">
             <div class="container-fluid">
             <div class="row">
                <div class="col-md-12 top-accountcol">
                    <div class="account-div">
                      <h6 class="h6-account">Account :</h6>

                        <div class="dropdown all-account" style="display: inline-block;height: 28px;margin-top: 6px;" id="reportAccountFilter" data-tg-init-search="">
                            <button class="btn btn-default dropdown-toggle" type="button" id="allAccToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="icon-user"></i>
                                <span>All </span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="allReportAcc" aria-labelledby="allAccount">
                                <% for( i = 0; i < accounts.length; i++) {  %>
                                <li><a href="javascript:void(0)" data-tg-search-for="<%= accounts[i].accountName %>"> <%= accounts[i].accountName %></a></li>
                                <% } %>
                            </ul>
                        </div>



   <div class="from-class" id="fromId">
       <span class="span-cls1">From
       <input type="text" class="from-date" id="datePickFrom"></span>
       <span class="span-cls2">To
       <input type="text" class="too-date" id="datePickTo"></span>
       <input type="button" class="btn-min" value="Go" onclick="notEnabled()">
       <input type="button" class="btn-min" value="Clear" onclick="clrfromto()">
   </div>



    <div class="input-group" id="srchRaw" style="display: inline-flex;">
      <button class="btn btn-default report-srch" type="button" id="rawSrchId"> <i class="icon-search"></i></button>
       <input type="text" class="form-control rpt-srch" placeholder="Search Device"  id="rawSBox">
        <a href="javascript:void(0)" id="rawClearBtn" style="display: none">
         <i class="fa fa-times" style="position: absolute;right: 13px;z-index: 100;top: 8px;"></i>
          </a>
      </div>

<div class="input-group" id="srchDecode" style="display: inline-flex;">
      <button class="btn btn-default report-srch" type="button" id="DecodeSrchId"> <i class="icon-search"></i></button>
       <input type="text" class="form-control rpt-srch" placeholder="Search Device"  id="decodeSBox">
        <a href="javascript:void(0)" id="decodeClearBtn" style="display: none">
         <i class="fa fa-times" style="position: absolute;right: 13px;z-index: 100;top: 8px;"></i>
          </a>
      </div>

<div class="input-group" id="srchDaily" style="display: inline-flex;">
      <button class="btn btn-default report-srch" type="button" id="dailySrchId"> <i class="icon-search"></i></button>
       <input type="text" class="form-control rpt-srch" placeholder="Search Device"  id="dailySBox">
        <a href="javascript:void(0)" id="dailyClearBtn" style="display: none">
         <i class="fa fa-times" style="position: absolute;right: 13px;z-index: 100;top: 8px;"></i>
          </a>
      </div>



     <!--<div class="clr-searchdiv">-->
       <!--<input type="button" class="btn-min" id="miniClrId" onclick="document.getElementById('rawSBox').value = ''" value="Clear Search">-->
   <!--</div>-->

   <div class="clr-searchdiv">
      <input type="button" class="btn-min" id="miniClrId" onclick="clrrr()" value="Clear Search">
    </div>



    <div class="refresh-classdiv" id="refreshDivId">
        <span class="btn btn-default" type="button" value="" id="reportRefresh">
            <i class="fa fa-refresh"></i>
        </span>
    </div>



    <div class="btn-group acknow-button">
        <button type="button" class="btn btn-default" id="acknow1" onclick="acknow(this.id)" style="width: 128px;">
            <i class="icon icon-ok" id="iconOk"></i> Acknowledge</button>
        <button type="button" class="btn btn-primary" id="acknow2" onclick="acknow(this.id)" style="width: 138px;">
            <i class="icon icon-ok icon-white" id="iconOkWhite"></i> Acknowledge All</button>
    </div>


    <div class="daily-datelbl">
        <label>Date:</label> </div>
            <div class="btn-group report-datediv">
                <button type="button" id="selectIdDaily" class="btn btn-default"><span>All</span></button>
                 <button type="button" class="btn btn-default dropdown-toggle"  data-toggle="dropdown">
                     <!--<span>All </span>-->
                     <span class="caret"></span>  <!-- caret -->
                        <span class="sr-only"></span>
                        </button>
                     <ul class="dropdown-menu daily-ulclas" id="dailePageId">
                         <li class="daily-listt" id="dli">All</li>
                         <li class="daily-listt">Today</li>
                         <li class="daily-listt">Yesterday</li>
                         <!--<li class="divider" id="divder"></li>-->
                         <li class="daily-listt">Pick a Date</li>
                         <li class="daily-listt">Custom Date Range</li>
                     </ul>
            </div>


        <div class="last-divv">
            <div class="number-div">12345</div>
               <div class="count-div">Total Count</div>
                        </div>
                    </div>
                </div>
            </div>
       </div>


    <div class="container-fluid table-contfluid">
         <div class="row">
             <div class="col-md-12 tgrid-tablecol">
                <div id="reportTargetId">

                     </div>
                  </div>
               </div>
             </div>
         </div>
     </div>
  </div>



  <script id="reportTemplateId" type="text/html">
     <tgrid >
          <tgrid:head>
                <tr>
                   <th>Device</th>
                   <th id="msgTimeId" class="th-msgtime" >Message Generated Time</th>
                   <th id="reportMessageId" class="th-rawmessage" ></th>
                </tr>
          </tgrid:head>

            <tgrid:body>
               <tr class="tgb-row roww" style="white-space: nowrap;">
                   <td class="report-td">{%= data.device ? data.device :'0'%}</td>
                   <td class="report-td">{%= data.msgGenTime ? data.msgGenTime  :'-'%}</td>
                   <td class="report-td">{%= data.rawMessage ? data.rawMessage :'-'%}</td>
               </tr>
          </tgrid:body>
     </tgrid>


   </script><script id="reportAlarm" type="text/html">
        <tgrid >
            <tgrid:head>
                  <tr>
                     <th><input type="checkbox" /></th>
                     <th id=alarmTankId">Tank</th>
                     <th id=alarmMsgId">Message Time</th>
                     <th id=alarmReasonId">Alarm Reason</th>
                     <th id=alarmAckId">Is Acknowledged</th>
                     <th id=alarmAcknowId">Acknowledged Time</th>
                     <th id=alarmById">Acknowledged by</th>
                  </tr>
            </tgrid:head>

            <tgrid:body>
                  <tr class="tgb-row roww" style="white-space: nowrap;">
                      <td style="text-align:center"><input type="checkbox" /></td>
                      <td class="report-td">{%= data.tank ? data.tank :'0'%}
                          <span href="javascript:void(0)" onclick="location.href='/snapshots'"
                          rel="tooltip" class="glyphicon glyphicon-eye-open" style="padding-left: 5px;"></span>
                         </td>
                      <td class="report-td">{%= data.msgTime ? data.msgTime  :'-'%}</td>
                      <td class="report-td">{%= data.alarmReason ? data.alarmReason :'-'%}</td>
                      <td class="report-td">{%= data.alert ? data.alert :'0'%}</td>
                      <td class="report-td">{%= data._id ? data._id  :'-'%}</td>
                      <td class="report-td">{%= data.registrationStatus ? data.registrationStatus :'-'%}</td>
                  </tr>
            </tgrid:body>
        </tgrid>
   </script>


         </script><script id="reportDaily" type="text/html">
             <tgrid >
                 <tgrid:head>
                     <tr >
                         <th rowspan="2" id=dailyTankId">Tank</th>
                         <th rowspan="2" id=dailyDateId">Date</th>
                         <th colspan="2" id=dailyGainId">Net Gain</th>
                         <th colspan="2" id=dailyDisposalId">Net Disposal</th>
                     </tr>

                     <tr>
                         <th>Tank Level <small class="unit-small" style="color: #777777 !important;">(feet)</small></th>
                         <th>Quantity</th>
                         <th>Tank Level <small class="unit-small" style="color: #777777 !important;">(feet)</small></th>
                         <th>Quantity</th>
                     </tr>



                  </tgrid:head>
                     <tgrid:body>
                         <tr class="tgb-row roww" style="white-space: nowrap;">
                             <td class="report-td">{%= data.tank ? data.tank :'0'%}
                                 <span href="javascript:void(0)" onclick="location.href='/snapshots'"
                                   rel="tooltip" class="glyphicon glyphicon-eye-open" style="padding-left: 5px;"></span>
                             </td>
                             <td class="report-td">{%= data.date ? data.date  :'-'%}</td>
                             <td class="report-td">{%= data.tankLevel ? data.tankLevel :'-'%}</td>

                             <td><div class="progress">
                                 <div class="progress-bar tank-progress" role="progressbar" aria-valuenow="{%= data.quantity ? data.quantity :'0'%}" aria-valuemin="{%= data.quantity ? data.quantity :'0'%}" aria-valuemax="100" style="width:80%">
                                 </div>
                             </div>
                                 <div>{%= data.quantity ? data.quantity :'0'%} <small class="unit-small">bbl</small></div></td>

                             <td class="report-td">{%= data.tankLevel ? data.tankLevel  :'-'%}</td>
                             <td class="report-td">{%= data.quantity ? data.quantity :'-'%}</td>
                         </tr>
                     </tgrid:body>
                 </tgrid>
             </script>











