<link rel="stylesheet" href="css/monitoring/snapshot.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="js/Calendar.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>-->
<!--Snapshot menus Start-->
<div class="bs-example">
    <div class="well well-sm snap-well">
        <div class="container-fluid">
            <div class="row snap-menu">
                <div class="col-md-6 snaplist-left">
                    <ul class="list-ulsnap">
                        <li><label style="font-size: 11px; font-weight: 100; color: #999">Account: </label></li>
                        <li> Taue_Pele /</li>
                        <li><a href="javascript:void(0)"> Asset</a> /</li>
                        <li> Tank Name</li>
                    </ul>
                </div>
                <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12" style="margin-top: 5px">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-sm btn-refresh" onclick="refsnap()">
                                    <span class="glyphicon glyphicon-refresh"></span> Refresh
                                </button>


                                <div class="input-group" style="display: inline-flex; position: relative">
                            <span class="input-group-btn">
                                <button class="btn btn-default go-snapbtn" type="button" id="searchId">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                                    <input type="text" class="form-control" placeholder="Search Tank" id="snapSearch">
                                    <a href="" id="inputClearBtn" style="display: none">
                                        <i class="fa fa-times"
                                           style="position: absolute;right: 13px;z-index: 100;top: 8px;"></i></a>

                                </div>
                                <!-- /input-group -->
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <ul class="snapedit-lists pull-right">
                        <li><span class="glyphicon glyphicon-map-marker"></span>&nbsp;<a href="javascript:void(0)" onclick="notEnabled()">Edit GPS Location</a></li>
                        &nbsp
                        <li><img src="../../images/snapicons/pdf.png" class="export-img" style="width:16px;font-size:8px;"/>&nbsp;<a onclick="notEnabled()">Export</a>
                        </li>
                        &nbsp
                        <li><img src="../../images/snapicons/email.png" class="email-img" style="width:19px;font-size:8px;"/>&nbsp;<a onclick="notEnabled()">Email</a>
                        </li>
                        &nbsp
                        <li><img src="../../images/snapicons/print.png" class="print-img" style="width:19px;font-size:8px;"/>&nbsp;<a onclick="notEnabled()">Print</a>
                        </li>
                        &nbsp
                        <li><img src="../../images/snapicons/help.png" class="help-img" style="width:19px;font-size:8px;"/>&nbsp;<a onclick="notEnabled()">Help</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

    </div>
</div>

<!--Snapshot menus completed-->


<div class="container-fluid">
    <div class="row">
        <div class="col-md-5" style="padding:10px 20px">
            <!-- main row before Tank details-->
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default tank-details-panel">
                        <div class="panel-heading">
                        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"
                              style="top: 3px; left: -4px"></span><b style="font-size: 12px">Tank Details</b>
                        </div>

                        <div class="panel-body">


                            <div class="row">
                                <div class="col-md-4">
                                    <img src="../images/snapicons/no-image-thumb.png" class="no-image"/>
                                    <div class="AddPhoto"
                                         style="padding:5px;background-color:#f5f5f5;margin-left: 50px;margin-top: -30px; position: absolute;">
                                        <a href="#" onclick="showdashboardphotomap(-31.3635,27.886383333333335,'Unnamed Road, Eastern Cape','59f1637ff477cd1c12000010')" data-toggle="modal" data-target="#stsImgUpload"> Add Photo</a>
                                    </div>

                                </div>
                                <div class="col-md-8">

                                    <h3 style="font-size: 16px"><i class="icon-th" style="margin-top:3px;"></i>
                                        Trompsburg_Static_1</h3>
                                    <h6 style="margin-left: 18px">Tank Name</h6>

                                    <h3 style="font-size: 16px"><i class="icon-map-marker" style="margin-top:3px;"></i>Location
                                        Name</h3>
                                    <h6 style="margin-left: 18px">Location</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" style="padding-right: 0;padding-left:15px;">
                    <div class="panel panel-default device-details-panel">
                        <div class="panel-heading"><i class="picons-16-device" style="font-size:15px;color:#333"></i> <b style="font-size: 12px"> Device Details</b></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12" style="text-align: center">
                                    <h5>8743256645</h5>
                                    <h6>Device ID</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                <span style="float: left">
                                    <h5>Ingv</h5>
                                    <h6>Type</h6>
                                </span>
                                </div>
                                <div class="col-md-6" style="text-align: center">
                                <span style="float: right">
                                    <h5>1</h5>
                                    <h6>Sensor Choice</h6>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default device-status-panel">
                        <div class="panel-heading"><span class="glyphicons glyphicons-router"></span>
                            <b style="font-size: 12px"><i class="picons-16-device" style="font-size:15px;color:#333"></i> <b style="font-size: 12px">Device Status</b></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12" style="text-align: center">
                                    <h5>-</h5>
                                    <h6>Fault Code</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="text-align: center">
                                <span style="float: left">
                                    <h5>-</h5>
                                    <h6>Battery</h6>
                                </span>
                                </div>
                                <div class="col-md-6">
                                <span style="float: right">
                                    <h5>-</h5>
                                    <h6>Fault Source</h6>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4" style="padding-right: 0">
                    <div class="panel panel-default tank-alert-panel">
                        <div class="panel-heading">
                            <i class="fa fa-exclamation-triangle"></i><span
                                style="font-size: 12px;font-weight:bold;margin-left:3px;">Tank Alert Status</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="text-align: center">0</h3>
                                    <h5 style="text-align: center; opacity: 0.7">Alerts</h5>
                                    <h6 style="text-align: center">Acknowledged</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default tank-qnty-panel ">
                        <div class="panel-heading">
                            <div class="btn-group" data-toggle="buttons" id="gainButtonSnapshot">
                                <button type="button" class="active btn btn-default btnsnap1 " value="level"
                                        data-tooltip  title="Tank Level Statistics">
                                    Tank Level Stats.
                                </button>
                                <button type="button" class="btn btn-default btnsnap1" value="quantity"
                                        data-tooltip
                                        title="Liquid Quantity Statistics">Liquid Quantity
                                    Stats.
                                </button>
                            </div>

                            <div class="pull-right" id="dropClose">
                                <!--<select class="snap-select" id="snapFilter ">
                                    <option value="7">Last 7 days</option>
                                    <option value="14">Last 14 days</option>
                                    <option value="30">Last 30 days</option>
                                    <option value="l">Last Month</option>
                                    <option id="daterange" onclick="customdate()" value="">Custom Date Range</option>
                                </select>-->
                                <!--<button type="button" id="tankFilter" class="btn btn-default">Last 7 days</button>-->
                                <button type="button" class="btn btn-default dropdown-toggle" id="customDate"
                                        data-toggle="dropdown" style="border:none;width:130px;bottom:0px;"><span>Last 7 days</span>

                                    <span class="caret"></span>  <!-- caret -->
                                    <span class="sr-only"></span> </button>

                                <ul class="dropdown-menu"  id="dateRange" style="top:46px ! important; min-width:150px ! important;
                                      margin-left: 10px ! important">
                                    <li class="snap-list" id="dli" style="padding-left:15px;font-size: 13px;
                                       padding-bottom: 5px;">Last 7 days</li>

                                    <li class="snap-list"  style="padding-left: 15px;font-size: 13px;
                                        padding-bottom: 5px;">Last 14 days</li>

                                    <li class="snap-list" style="padding-left:15px;font-size: 13px;
                                         padding-bottom: 5px;">Last 30 days</li>

                                    <li class="snap-list" style="padding-left:15px;font-size: 13px;
                                           padding-bottom: 5px;">Last Month</li>

                                    <li class="snap-list" onclick="customdate()" style="padding-left:15px;font-size: 13px;
                                      padding-bottom: 5px;">Custom Range</li>
                                </ul>
                            </div>
                        </div>
                        <!--date div-->

                        <div id="showDate" style="display:none;position:absolute;z-index:10;border: 1px solid #CCC;padding:5px;background: white;">
                           <div style="display:flex">
                               <div>
                                    <div id="displaydate" style="background-color:white;   border: 1px solid #CCC;">
                                    </div>
                               </div>
                               <div>
                                    <div id="displaydate1" style="background-color:white;   border: 1px solid #CCC;">

                                    </div>
                               </div>
                           </div>
                            <div style="text-align: center;margin-top:10px;">
                                <input type="button" class="btn btn-primary" value="Apply Date Range"onclick="applydate()">
                                <input type="button" class="btn btn-default" value="Cancel"onclick="dateclose()">
                            </div>

                       </div>

                         <!-- <div class="showDate" id="displaydate" style="background-color:white; display:none;position:absolute;z-index:10;border: 1px solid #CCC;height:100px;  ">
                              <div class="row">
                              <div class="col-md-6">

                                            <div class='input-group date' id='datetimepicker6'>
                                                <input type='text' class="form-control" style="margin-left: 5px;"/>
                                                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                                            </div>
                              </div>

                                  <div class="col-md-6">

                                      <div class='input-group date' id='datetimepicker7'>
                                          <input type='text' class="form-control" />
                                          <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                                      </div>
                                  </div>
                              </div>
                              <div class="row" style="margin-top: 20px;margin-left: 40px;">
                                  <div class="col-md-5">
                                      <input type="button" class="btn btn-primary" value="Apply Date Range" onclick="applydate()">
                                  </div>
                                  <div class="col-md-5">
                                      <input type="button" class="btn btn-default" value="Cancel" onclick="dateclose();">
                                  </div>
                              </div>


                            </div>
-->
                        <div class="panel-body" style="padding: 27px">
                            <div class="row">
                                <div class="col-md-6">
                                <span style="text-align:center;float:left">
                                    <h5 id="gainValue">0</h5>
                                    <h6>OverAll Gain</h6>
                                </span>
                                </div>
                                <div class="col-md-6">
                                <span style="text-align:center; float: right">
                                    <h5 id="disposalValue">0</h5>
                                    <h6>OverAll Disposal</h6>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--  Column-md-5 end-->
        <div class="col-md-7" style="padding:10px 20px">
            <!-- main row before pictorial view-->

            <div class="row">
                <div class="col-md-12" style="padding-right: 0px;">
                    <div class="panel panel-default panelsnap">
                        <div class="panel-heading">
                        <span class="glyphicon glyphicon-picture" aria-hidden="true"
                              style="top: 2px; left: -4px"></span><b style="font-size: 12px">Pictorial
                            View</b>
                            <p style="float: right"><b style="color: #999; font-size: 12px">Message Time : </b><span
                                    style="font-size:12px;font-weight:bold;margin-right:5px;">04/09/2018 01:58 PM</span>
                            </p>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-5" style="border-right: 1px solid lightgrey;">


                                    <img src="../../images/snapicons/watertank.png" class="watertank"/>

                                    <img src="../../images/snapicons/ruler-horz.png" class="ruler-horz"/>

                                    <img src="../../images/snapicons/ruler.png" class="ruler-vert"/>

                                    <div class="waterlevel"></div>


                                    <div class="waterlevel-scale">
                                        <h6><b style="font-size: 18px">10' 2" bbl</b></h6>
                                        <p>Tank Level</p>
                                    </div>
                                    <div class="height1">
                                        <p>Height</p>
                                        <label style="font-style:normal;color:#777777;font-size:12px;"><span
                                                style="color:red;font-weight:bold">20</span> feet</label>
                                    </div>
                                    <div class="diameter">
                                        <p>Diameter</p>
                                        <label style="font-style:normal;color:#777777;font-size:12px;"><span
                                                style="color:red;font-weight:bold">15'10</span> feet</label>
                                    </div>
                                </div>

                                <div class="col-md-7" style="padding-top: 40px;text-align: center">
                                    <h3>Water Tank</h3>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h1 style="opacity: 0.5">10'2'' <span
                                                        style="font-size: 16px">feet</span></h1>
                                                <p>Tank Level</p>
                                            </div>
                                            <div class="col-md-6" style="border-left: 1px solid lightgray;">
                                                <h1 style="opacity: 0.5">2000 <span style="font-size: 16px">bbl</span>
                                                </h1>
                                                <p>Liquid Quantity</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container-fluid">
                                        <div class="row" style="margin-left: 0">
                                            <div class="col-md-5" style="text-align: start; white-space: nowrap;">
                                                <p class="pic-details">Tank Capacity</p>
                                                <p class="pic-details">Liquid Specific Gravity</p>
                                                <p class="pic-details">Tank Offset</p>
                                                <p class="pic-details">Sensor Max. Pressure</p>
                                            </div>
                                            <div class="col-md-7" style="text-align: start">
                                                <p>: &nbsp;343y</p>
                                                <p>: &nbsp;2424</p>
                                                <p>: &nbsp;25432</p>
                                                <p>: &nbsp;222</p>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--  Column-md-7 end-->


    </div>
</div>

<!--Second row for chart and map view-->

<div class="container-fluid">
    <div class="row" style="margin-bottom: 50px">
        <div class="col-md-2">
            <ul class="nav nav-list snap-bottom-sidepannel-list">
                <li style="padding :0px !important;" class="snapshot-tab-menu chartmenu chartdata active"><a
                        style="padding :7px 15px;" href="#chart" data-toggle="tab">Chart</a></li>
                <li style="padding :0px !important;" class="snapshot-tab-menu mapmenu">
                    <a style="padding :7px 15px;" data-toggle="tab" href="#snapshotMap">Map</a></li>
                <li style="padding :0px !important;" class="snapshot-tab-menu mapmenu">
                    <a style="padding :7px 15px;" data-toggle="tab" href="#report" onClick="loadDailyRpt()">Daily
                        Report</a></li>
                <li style="padding :0px !important;" class="snapshot-tab-menu historymenu">
                    <a style="padding :7px 15px;" data-toggle="tab" href="#history"
                       onClick="loadHistoryData()">History</a></li>

                <li style="padding :0px !important;" class="snapshot-tab-menu alertmenu" onClick="loadAlertData()">
                    <a style="padding :7px 15px;" data-toggle="tab" href="#alert">Alerts</a></li>
            </ul>


        </div>
        <div class="col-md-10">
            <div class="tab-content">

                <!--Sanapshot Chart Tab Start-->

                <div id="chart" class="tab-pane fade in active" style="padding-left: 0">
                    <ul class="nav nav-tabs" id="chartPage">
                        <li role="presentation" class="active"><a href="#home" data-toggle="tab" class="snapchart-font">Tank
                            Level</a></li>
                        <li role="presentation"><a href="#profile" data-toggle="tab" class="snapchart-font">Daily Net
                            Gain</a></li>
                        <li role="presentation"><a href="#messages" data-toggle="tab" class="snapchart-font">Daily Net
                            Disposal</a></li>

                        <!--chart datepicker show start-->

                        <button type="button" class="btn btn-default dropdown-toggle pull-right" id="customDate1"
                                data-toggle="dropdown" style="border:none;width:130px;bottom:0px;"><span>Last 7 days</span>

                            <span class="caret"></span>  <!-- caret -->
                            <span class="sr-only"></span> </button>

                        <ul class="dropdown-menu pull-right"  id="dateRange1" style="top:46px ! important; min-width:150px ! important;
                                      margin-left: 10px ! important">
                            <li class="snap-list" id="dli1" style="padding-left:15px;font-size: 13px;
                                       padding-bottom: 5px;">Last 7 days</li>

                            <li class="snap-list"  style="padding-left: 15px;font-size: 13px;
                                        padding-bottom: 5px;">Last 14 days</li>

                            <li class="snap-list" style="padding-left:15px;font-size: 13px;
                                         padding-bottom: 5px;">Last 30 days</li>

                            <li class="snap-list" style="padding-left:15px;font-size: 13px;
                                           padding-bottom: 5px;">Last Month</li>

                            <li class="snap-list" onclick="customdate1()" style="padding-left:15px;font-size: 13px;
                                      padding-bottom: 5px;">Custom Range</li>
                        </ul>
                        <div  id="showDate1" style="display:none;position:absolute;
                        border: 1px solid #CCC;padding:5px;background: white;z-index: 10;
                           right:35px; top:30px;">
                            <div style="display:flex">
                                <div>
                                    <div id="datedisplay" style="background-color:white;   border: 1px solid #CCC;">
                                    </div>
                                </div>
                                <div>
                                    <div id="datedisplay1" style="background-color:white;   border: 1px solid #CCC;">

                                    </div>
                                </div>
                            </div>
                            <div style="text-align: center;margin-top:10px;">
                                <input type="button" class="btn btn-primary" value="Apply Date Range"onclick="applydate1()">
                                <input type="button" class="btn btn-default" value="Cancel"onclick="dateclose1()">
                            </div>

                        </div>

                        <!--chart datepicker show end-->

                    </ul>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div id="tankLevelChart"></div>
                        </div>

                        <div id="profile" class="tab-pane fade">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12" style="margin-top:5px;">
                                        <div class="btn-group" data-toggle="buttons">
                                            <button type="button" class="active btn btn-default btnsnap-chart1" style="width:100px;">
                                                Tank Level
                                            </button>
                                            <button type="button" class="btn btn-default btnsnap-chart1" style="width:100px;">Liquid Quantity
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="dailyGainChart" style="width: 80%; margin-top: 20px"></div>
                        </div>
                        <div id="messages" class="tab-pane fade">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12" style="margin-top:5px;">
                                        <div class="btn-group" data-toggle="buttons">
                                            <button type="button" class="active btn btn-default btnsnap-chart2" style="width:100px;">
                                                Tank Level
                                            </button>
                                            <button type="button" class="btn btn-default btnsnap-chart2"style="width:100px;">Liquid Quantity
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="dailyDisposalChart" style="width: 80%; margin-top: 20px"></div>
                        </div>
                    </div>
                </div>
                <!--Sanapshot Chart Tab End-->

                <!--Sanapshot Map Tab Start-->

                <div id="snapshotMap" class="tab-pane fade in">
                    <div class="tab-pane fade in active">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#mapTab" data-toggle="tab">Map</a></li>
                        </ul>

                        <div class="tab-content m-tab">
                            <div id="mapTab" class="tab-pane fade in active">

                                <div class="row" style="padding: 10px">
                                    <div class="col-md-12">
                                        <div class="pull-left"><h6 style="padding-left: 15px">Location:</h6></div>
                                        <div class="pull-right">
                                            <input type="button" class="btn btn-primary pull-right"
                                                   style="margin-top: -7px;" onclick="notEnabled()"
                                                   value="Edit Location">
                                        </div>
                                    </div>
                                </div>

                                <div id="map"></div>


                            </div>

                        </div>
                    </div>
                </div>
                <!--Sanapshot Map Tab End-->







                <!--Sanapshot Report Tab Start-->

                <div id="report" class="tab-pane fade in">
                    <div class="tab-pane fade in active">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#dailyReportTab" data-toggle="tab">Daily
                                Report</a></li>
                            <div class="pull-right" style="margin-right: 120px; margin-top: 10px">
                                <div class="pull-left" style="">
                                    <div class="dropdown all-account" style="display: inline-block" id="snapAcct"
                                         data-tg-init-search="">
                                        <button class="btn btn-default dropdown-toggle" type="button"
                                                id="snap-dreport-drop" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="true" style="padding: 0 10px">

                                            <!--<i class="icon-user"></i>-->
                                            <span>All </span>

                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" id="snap-drepotlist" aria-labelledby="allAccount">

                                            <% for( i = 0; i < accounts.length; i++) {  %>
                                            <li><a href="javascript:void(0)"
                                                   data-tg-search-for="<%= accounts[i].accountName %>"> <%=
                                                accounts[i].accountName %></a></li>
                                            <% } %>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </ul>

                        <div class="tab-content">
                            <div id="dailyReportTab" class="tab-pane fade in active">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12" id="snapDlyRptTargetId">

                                        </div>
                                    </div>
                                </div>
                                <script id="snapDlyRptTemplateId" type="text/html">

                                    <tgrid>
                                        <tgrid:head>
                                            <tr>

                                                <th rowspan="2" class="">Date</th>
                                                <th colspan="2" class="">Net Gain</th>
                                                <th colspan="2" class="">Net Disposal</th>
                                            </tr>
                                            <tr>
                                                <th>Tank Level
                                                    <small class="unit-small">(inches)</small>
                                                </th>
                                                <th>Quantity</th>
                                                <th>Tank Level
                                                    <small class="unit-small">(inches)</small>
                                                </th>
                                                <th>Quantity</th>
                                            </tr>

                                        </tgrid:head>
                                        <tgrid:body>

                                            <tr class="tgb-row" style="white-space: nowrap">
                                                <td>{%= data.messageTime ? data.messageTime : 'null' %}</td>
                                                <td>{%= data.ReasonCode ? data.ReasonCode : 'null' %}</td>
                                                <td>{%= data.TankLevel ? data.TankLevel :'-' %}</td>
                                                <td>{%= data.LiquidQuantity ? data.LiquidQuantity :'-' %}</td>
                                                <td>{%= data.FaultCode ? data.FaultCode :'-' %}</td>
                                            </tr>
                                        </tgrid:body>
                                        <tgrid:footer>
                                        </tgrid:footer>
                                    </tgrid>
                                </script>


                            </div>

                        </div>
                    </div>
                </div>
                <!--Sanapshot Report Tab End-->


                <!--Sanapshot History Tab Start-->

                <div id="history" class="tab-pane fade in">
                    <div class="tab-pane fade in active">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#historyTab"
                                                                      data-toggle="tab">History</a></li>
                            <div class="pull-right" style="margin-right: 120px; margin-top: 10px">
                                <div class="dropdown all-account" style="display: inline-block" id="snaAcct"
                                     data-tg-init-search="">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="snap-hist-drop"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                            style="padding: 0 10px">

                                        <!--<i class="icon-user"></i>-->
                                        <span>All </span>

                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="snap-histlist" aria-labelledby="allAccount">

                                        <% for( i = 0; i < accounts.length; i++) {  %>
                                        <li><a href="javascript:void(0)"
                                               data-tg-search-for="<%= accounts[i].accountName %>"> <%=
                                            accounts[i].accountName %></a></li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </ul>

                        <div class="tab-content">
                            <div id="historyTab" class="tab-pane fade in active">

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12" id="snapHistoryTableTargetId">

                                        </div>
                                    </div>

                                </div>

                                <script id="snapHistoryTableTemplateId" type="text/html">

                                    <tgrid>
                                        <tgrid:head>
                                            <tr>

                                                <th rowspan="2" class="">Message Time</th>
                                                <th rowspan="2" class="">Reason Code</th>
                                                <th rowspan="2">TankLevel
                                                    <small class="unit-small">(feet)</small>
                                                </th>
                                                <th rowspan="2">Liquid Quantity</th>
                                                <th colspan="2">Fault</th>
                                                <th rowspan="2">Temp.
                                                    <small class="unit-small"></small>
                                                </th>
                                                <th rowspan="2">Batt.
                                                    <small class="unit-small">(v)</small>
                                                </th>
                                                <th rowspan="2">Pressure.
                                                    <small class="unit-small">(PSI)</small>
                                                </th>
                                                <th rowspan="2">Sensor Reading</th>


                                            </tr>
                                            <tr>
                                                <th>Code</th>
                                                <th>Source</th>
                                            </tr>

                                        </tgrid:head>
                                        <tgrid:body>

                                            <tr class="tgb-row" style="white-space: nowrap">
                                                <td>{%= data.messageTime ? data.messageTime : 'null' %}</td>
                                                <td>{%= data.ReasonCode ? data.ReasonCode : 'null' %}</td>
                                                <td>{%= data.TankLevel ? data.TankLevel :'-' %}</td>
                                                <td>{%= data.LiquidQuantity ? data.LiquidQuantity :'-' %}</td>
                                                <td>{%= data.FaultCode ? data.FaultCode :'-' %}</td>
                                                <td>{%= data.FaultSource ? data.FaultSource :'-' %}</td>
                                                <td>{%= data.Temprature ? data.Temprature :'-' %}</td>
                                                <td>{%= data.Battery ? data.Battery :'-' %}</td>
                                                <td>{%= data.Pressure ? data.Pressure :'-' %}</td>
                                                <td>{%= data.SensorReading ? data.SensorReading :'-' %}</td>
                                            </tr>
                                        </tgrid:body>
                                        <tgrid:footer>
                                        </tgrid:footer>
                                    </tgrid>
                                </script>


                            </div>

                        </div>
                    </div>
                </div>
                <!--Sanapshot History Tab End-->

                <!--Snapshot Alert tab start-->

                <div id="alert" class="tab-pane fade in">
                    <div class="tab-pane fade in active">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#alertTab" data-toggle="tab">
                                Alerts</a>
                            </li>
                        </ul>

                        <div class="tab-content" style="overflow: hidden">
                            <div id="alertTab" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert-well">
                                            <div class="btn-group" style="float: right;top:-13px">
                                                <button class="active btn btn-default btnsnap2">
                                                    <i class="icon icon-ok"></i>&nbsp;&nbsp;&nbsp;Acknowledge
                                                </button>
                                                <button class="btn btn-default btnsnap2">
                                                    <i class="icon icon-ok icon-white"></i>&nbsp;&nbsp;&nbsp;Acknowledge
                                                    All
                                                </button>
                                                <div style="float: right;text-align: center;top:-17px;padding: 0px 10px 0px 10px;opacity: 0.5">
                                                    <h4>0</h4>
                                                    <p>Total Count</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12" id="snapAlertTargetId">

                                        </div>
                                    </div>
                                </div>
                                <script id="snapAlertTemplateId" type="text/html">

                                    <tgrid>
                                        <tgrid:head>
                                            <tr>

                                                <th rowspan="2" class=""><input type="checkbox"></th>
                                                <th rowspan="2" class="">Tank</th>
                                                <th rowspan="2" class="">Message Time</th>
                                                <th rowspan="2" class="">Alarm Reason</th>
                                                <th rowspan="2" class="">Is Acknowledged</th>
                                                <th rowspan="2" class="">Acknowledged Time</th>
                                                <th rowspan="2" class="">Acknowledged By</th>
                                            </tr>

                                        </tgrid:head>
                                        <tgrid:body>

                                            <tr class="tgb-row" style="white-space: nowrap">
                                                <td>{%= data.messageTime ? data.messageTime : 'null' %}</td>
                                                <td>{%= data.ReasonCode ? data.ReasonCode : 'null' %}</td>
                                                <td>{%= data.TankLevel ? data.TankLevel :'-' %}</td>
                                                <td>{%= data.LiquidQuantity ? data.LiquidQuantity :'-' %}</td>
                                                <td>{%= data.FaultCode ? data.FaultCode :'-' %}</td>
                                                <td>{%= data.FaultCode ? data.FaultCode :'-' %}</td>
                                                <td>{%= data.FaultCode ? data.FaultCode :'-' %}</td>

                                            </tr>
                                        </tgrid:body>
                                        <tgrid:footer>
                                        </tgrid:footer>
                                    </tgrid>
                                </script>

                            </div>

                        </div>
                    </div>
                </div>

                <!--Snapshot Alert tab End-->

            </div>

        </div>
    </div>
</div>




<!--Second row for chart and map view End-->


<%- include('monitoring/snapshot_modal.html') %>
<%- include('monitoring/allmodals.html') %>

<script src="js/monitoring/snapshot.js"></script>
<script src="js/monitoring/commonmap.js"></script>

<!--For date range-->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2iBxqvigy_WDahAwkKYgB_GEgq8AO0CY&callback=initMap"
        async defer></script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

-->
