<style>
    .snap-modal-head {
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(center top, #f5f5f5, #f5f5f5);
        border-bottom-color: #DCDCDC;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        font-size: 12px !important;
        height: 30px;
        line-height: 27px;
        padding-bottom: 3px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 0px;
        font-weight: 600;
    }

    .tank-names {
        margin-left: 10px;
        font-size: 13px;
        line-height: 30px;
    }

    .tank-names a {
        color: #0088cc;
    }

    .snap-modal-dpdwn {
        left: 68px;

    }

    #snapshotModal.modal{
        margin:0;
        left:0;right:0;top:0;
        width:100%;
        height:100vh;
        background:transparent;
    }
    #snapshotModal > .modal-dialog{
        margin-top:80px;
        width:59%;

    }

    #snapshotModal >.modal-dialog > .modal-content > .modal-body{
        max-height:unset;
    }


</style>
<script>
    $(function() {
        $("#modalAccounts li a").click(function () {

            $("#selAccountModal").html($(this).text());

        });
    });
</script>

<!-- The modal Snapshot -->

<div class="modal fade" id="snapshotModal" role="dialog" style="background: transparent;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabel" style="padding-left: 4px">Choose Tank</h4>
            </div>
            <div class="container-fluid">
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-12">
                        <span style="padding-left: 4px;color:#aaa;font-weight:bold;font-size: 11px;">Account:</span>
                        <button class="btn btn-default dropdown-toggle" type="button" id="allAccountModal"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-user"></i>
                            <span id="selAccountModal">All Account (10)</span>
                            <span class="caret"></span>
                        </button>
                        <div class="input-group pull-right" style="display: inline-flex">
                            <button class="btn btn-default" type="button" style="height: 29px">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            <input type="text" class="form-control" placeholder="Search Tank" id="snapSearch">
                        </div>
                        <ul class="dropdown-menu snap-modal-dpdwn" id="modalAccounts" aria-labelledby="allAccountModal">
                            <li><a href="javascript:void(0)" data-tg-search-for="all"> All</a></li>
                            <li><a href="javascript:void(0)"
                                   data-tg-search-for="Teezle"> Teezle</a></li>
                            <li><a href="javascript:void(0)"
                                   data-tg-search-for="Rugged Telemetry"> Rugged Telemetry</a></li>
                            <li><a href="javascript:void(0)"
                                   data-tg-search-for="Vega Probe"> Vega Probe</a></li>
                            <li><a href="javascript:void(0)"
                                   data-tg-search-for="Tank Demo I"> Tank Demo I</a></li>
                            <li><a href="javascript:void(0)"
                                   data-tg-search-for="Country Of Alpine"> Country Of Alpine</a></li>
                            <li><a href="javascript:void(0)"
                                   data-tg-search-for="Omnitrale"> Omnitrale</a></li>
                            <li><a href="javascript:void(0)"
                                   data-tg-search-for="Aveng Africa Ltd"> Aveng Africa Ltd</a></li>
                            <li><a href="javascript:void(0)"
                                   data-tg-search-for="Aveng_TrompsBurg"> Aveng_TrompsBurg</a></li>
                            <li><a href="javascript:void(0)"
                                   data-tg-search-for="Aveng_VentersBurg"> Aveng_VentersBurg</a></li>
                            <li><a href="javascript:void(0)"
                                   data-tg-search-for="Tau Pele"> Tau Pele</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" style="border: 1px #d4d4d4 solid; margin: 10px 0 30px 0">
                    <div class="col-md-12" style="padding: 0">
                        <div class="snap-modal-head">
                            <h5>Tanks</h5>
                        </div>
                        <div class="snap-modal-body">
                            <ul style="list-style-type: none; margin-left: 0">
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>
                                <li class="span3 tank-names"><a href="snapshots">TP_STATIC_C</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>