 <link rel="stylesheet" href="css/monitoring/status.css" type="text/css">
 <script src="js/monitoring/status.js" type="text/javascript"></script>
<div class="status-body-content">
   <div class="well status-well ">
       <span class="bread-crumb"><a>Tanks </a>&nbsp;&nbsp;/&nbsp;&nbsp; Status</span>
       <div class="pull-right">

           <span style="margin-right:30px;"><span style="font-size: 12px; font-weight: bold;color:#666;">Total Tanks:</span>&nbsp;<span class="total-tanks" id="totalTanks"><b style="color:#333;font-size:14px;"><%= assets.length  %></b></span></span>
           <div class="input-group "  style="display: inline-flex;">


               <button class="btn btn-default" type="button"  id="statusSearchId"> <i class="icon-search"></i></button>
               <input type="text" class="form-control grp-srch-box" placeholder="Search Tank"  id="statusSearchBox">
               <a href="javascript:void(0)" id="inputClearBtn" style="display: none"><i class="fa fa-times" style="position: absolute;right: 13px;z-index: 100;top: 8px;"></i></a>

           </div>
       </div>
   </div>

       <div class="container-fluid ">
           <div class="row">
               <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding">
                   <span class="account-lbl">Account:</span>

               <div class="dropdown all-account" style="display: inline-block" id="accountFilter"data-tg-init-search="">
                  <button class="btn btn-default dropdown-toggle" type="button" id="allAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                      <i class="icon-user"></i>
                      <span id="selAccount">All Account</span>

                       <span class="caret"></span>
                   </button>
                   <ul class="dropdown-menu" id="allAccountDW"   aria-labelledby="allAccount">
                   </ul>
               </div>
             <div class="btn-group">

                   <button type="button" id="tankFilter" class="btn btn-default">All Tanks (23)</button>
                   <button type="button" class="btn btn-default dropdown-toggle"  data-toggle="dropdown">
                     <span class="caret"></span>  <!-- caret -->
                     <span class="sr-only"></span>
                   </button>

                   <ul class="dropdown-menu" role="menu" id="allTanksDW"> <!-- class dropdown-menus -->
                     <% for( i = 0; i < assets.length; i++) {  %>
                                           <li><a href="javascript:void(0)" data-tg-txt="123"  data-tg-search-for="<%= assets[i].assetName %>"> <%= assets[i].assetName %></a></li>
                                           <% } %>
                   </ul>
              </div>


               <span class="btn btn-default" style="margin-left:7px;" type="button" value=""  id="statusRefresh"><i class="fa fa-refresh"></i></span>
               <span class="btn btn-default" style="margin-left:5px;" type="button" value="" id="statusFilterBtn"><i class="icon-filter "></i></span>

           </div>

           <!--<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding-bottom: 20px;padding-right:0;">

           </div>-->

       </div><!-- /.row -->
       </div>
        <div class="well" id="wellFilter">
              <div class="container-fluid">
                  <div class="row">
                        <div class="col-md-4">
                        <h6>Reporting Status</h6>
                            <div class="dropdown" style="display: inline-block;"  data-tg-init-search="">
                                <button class="btn btn-default dropdown-toggle" type="button"  style="background:#fff;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                                    <span id="rptStatusBtn">All</span>
                                     <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="rptStatus">
                                    <li><a href="javascript:void(0)"> All</a></li>
                                    <li><a href="javascript:void(0)"> Reporting</a></li>
                                    <li><a href="javascript:void(0)"> Non-Reporting</a></li>
                                </ul>
                            </div>

                    </div>
                    <div class="col-md-6">
                        <h6>Reason Code</h6>
                            <div class="dropdown" style="display:inline-block;">
                                     <button class="btn btn-default dropdown-toggle" style="overflow:hidden" type="button" id="reasonCodeBtn"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                                         <span id="rsnSel">select...</span>

                                      </button>
                                      <ul class="dropdown-menu" id="rsnUl"   aria-labelledby="reasonCodeBtn">


                                          <li><a href="javascript:void(0)"><input type="checkbox" class="rsnChkBox" value="All" id="rsnAll" > All</a></li>
                                          <li><a href="javascript:void(0)"><input type="checkbox" class="rsnChkBox" value="Unknown Message Source"> Unknown Message Source</a></li>
                                          <li><a href="javascript:void(0)"><input type="checkbox" class="rsnChkBox"value="Scheduled Daily Message" > Scheduled Daily Message</a></li>
                                          <li><a href="javascript:void(0)"><input type="checkbox" class="rsnChkBox" value="Manual Button Press"> Manual Button Press</a></li>
                                          <li><a href="javascript:void(0)"><input type="checkbox" class="rsnChkBox" value="Command Over USB"> Command Over USB</a></li>
                                          <li><a href="javascript:void(0)"><input type="checkbox" class="rsnChkBox" value="Fault Encountered"> Fault Encountered</a></li>

                                      </ul>
                                  </div>
       </div>
               <div class="col-md-2"><br><span class="btn btn-primary btn-mini" id="ClrFilter">Clear</span></div>
       </div>
       </div>
          </div>
       <div class="container-fluid" id="statusTarget" style="margin-top:10px;">

       </div>

       <script id="statusTemplate" type="text/html">
              <tgrid>
               <tgrid:head>
                   <tr>

                       <th rowspan="2" class="th-alerts">Alerts</th>
                       <th rowspan="2" class="th-tanks">Tanks</th>
                       <th rowspan="2" id="gridMessage" class="th-messageTime"  data-sort="" data-sort-order="-1" onclick="statusTableLoad('#gridMessage')" >MessageTime</th>
                       <th rowspan="2" id="gridReasonCode" class="grid-reason-code" data-sort="" data-sort-order="-1"  onclick="statusTableLoad('#gridReasonCode')" >Reason Code</th>
                       <th rowspan="2">Location</th>
                       <th rowspan="2">TankLevel <small class="unit-small">(feet)</small></th>
                       <th rowspan="2">Liquid Quantity</th>
                       <th colspan="2">Fault</th>
                       <th rowspan="2">Temp. <small class="unit-small">(C)</small></th>
                       <th rowspan="2">Batt. <small class="unit-small">(v)</small></th>
                       <th rowspan="2">Pressure. <small class="unit-small">(PSI)</small></th>
                       <th rowspan="2">Sensor Reading</th>
                       <th rowspan="2">Details</th>


                 </tr>
                   <tr>
                       <th>Code</th>
                       <th>Source</th>
                   </tr>

               </tgrid:head>
               <tgrid:body>
                   <tr class="tgb-row" style="white-space: nowrap">
                       <td><span class="badge">{%= data.alert ? data.alert :'0'%}</span></td>
                       <td><div><b class="pump-name-capitalize">  <span href="javascript:void(0)" onclick="gotoVehicleHistory()" > {%= data.assetName ? data.assetName :'0'%}</span> </b>
                       <span class=""><span href="javascript:void(0)" onclick="location.href='/snapshots'" rel="tooltip" title="Snapshot" style="cursor:pointer"><i class="icon-eye-open" style="font-size:14px;"></i></span><span><img style="cursor:pointer; margin-top:-6px;margin-left:5px;" title="Add Photo" src="/images/camera1.png" data-toggle="modal" data-target="#stsImgUpload" onclick="showdashboardphotomap(-31.3635,27.886383333333335,'Unnamed Road, Eastern Cape','59f1637ff477cd1c12000010')">&nbsp;&nbsp;</span>
                       </span></div><div class="grid-device">Device: <span>{%= data.device ? data.device :'-'%}</span></div></td>

                       <td><div>{%= moment(data.messageTimeMillis).format("DD/MM/YYYY") ? moment(data.messageTimeMillis).format("DD/MM/YYYY"): '-' %}</div><div>{%= moment(data.messageTimeMillis).format("hh:mm a") %}</div></td>
                       <td>{%= data.reasonCodeDesc ? data.reasonCodeDesc :'-'%}</td>
                       <td class="td-location"><i class="icon-map-marker" style="width:20px;"></i><a href="javascript:void(0)" onClick="notEnabled()">{%= data.location != null ? (data.location.address.street ? data.location.address.street : (data.location.address.state ? data.location.address.state : (data.location.address.country ? data.location.address.country : data.location.address.state) ) ): '-'%}</a></td>
                       <td class="td-tank-level"><span><i class="fa fa-tint" rel="tooltip" title="Oil" style="color:hsl(200, 100%, 50%); cursor: pointer"></i> {%= data.currentTankLevel ? data.currentTankLevel :'noData'%} </span></td>
                       <td><div class="progress">
                         <div class="progress-bar tank-progress" role="progressbar" aria-valuenow="{%= data.currentTankLevelPercentage ? data.currentTankLevelPercentage :'0'%}" aria-valuemin="{%= data.currentTankLevelPercentage ? data.currentTankLevelPercentage :'0'%}" aria-valuemax="100"  style="width:{%= data.currentTankLevelPercentage ? data.currentTankLevelPercentage :'0'%}%" >
                         </div>
                          </div>
                          <div>{%= data.currentTankLevelPercentage ? data.currentTankLevelPercentage :'0'%} <small class="unit-small">bbl</small></div></td>

                       <td>{%= data.faultCode ? data.faultCode :'0'%}</td>
                       <td>{%= data.faultSource ? data.faultSource :'0'%}</td>
                       <td>{%= data.temperature ? data.temperature :'0'%}</td>
                       <td>{%= data.battery ? data.battery :'0'%}</td>
                       <td>{%= data.pressure ? data.pressure :'0'%}</td>
                       <td>{%= data.sensorReading ? data.sensorReading :'0'%}</td>

                       <td> <div class="dropdown check-dw">
                               <span class="btn btn-primary btn-mini dropdown-toggle"  type="button" data-toggle="dropdown">View Details
                               <span class="caret"></span></span>
                               <ul class="dropdown-menu pull-right" style="width:300px;" aria-labelledby="view-detail1">
                                 <li>
                                     <div>
                                         <h6 style="text-align:center;color:unset;padding:5px;">Tank Details</h6>
                                          <div class="v-dtl-list">
                                                 <div class="v-dtl-key">Shape</div>
                                                 <div class="v-dtl-value">Cylinder</div>

                                          </div>
                                           <div class="v-dtl-list">
                                                 <div class="v-dtl-key">Height</div>
                                                 <div class="v-dtl-value">10'2"&nbsp;<small class="unit-small">feet</small></div>

                                          </div>
                                           <div class="v-dtl-list">
                                                 <div class="v-dtl-key">Diameter</div>
                                                 <div class="v-dtl-value">5'12" &nbsp;<small class="unit-small">feet</small></div>

                                          </div>
                                           <div class="v-dtl-list">
                                                 <div class="v-dtl-key">Tank Material</div>
                                                 <div class="v-dtl-value">Oil</div>

                                          </div>
                                           <div class="v-dtl-list">
                                                 <div class="v-dtl-key">Liquid Specific Quantity</div>
                                                 <div class="v-dtl-value">0.88</div>

                                          </div>
                                           <div class="v-dtl-list">
                                                 <div class="v-dtl-key">Tank Sensor Max Pressure</div>
                                                 <div class="v-dtl-value">15.4&nbsp;<small class="unit-small">psi</small></div>

                                          </div>
                                          <div class="v-dtl-list">
                                                 <div class="v-dtl-key">Tank Offset</div>
                                                 <div class="v-dtl-value">0&nbsp;<small class="unit-small">feet</small></div>

                                          </div>


                                     </div>

                                 </li>

                               </ul>
                             </div></td>
                          </tr>
               </tgrid:body>
           </tgrid>
       </script>

</div>
 <%- include('monitoring/allmodals.html') %>

