
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
        <div class="row" style="color:#888;">
            <div class="col-sm-4 text-right" style="color:#fff;">Ver. 3.0 Alpha
                </div>
            <div class="col-sm-4 text-center ">Copyright © 2018. Teezle LLC.
                Terms of Use | Privacy Policy</div>
            <div class="col-sm-4 text-right ">Poweredby <img style="height: 22px;
    width: 47px;" src="/images/tmatics-logo_white.png"></div>
        </div>
        </div>
    </nav>
