
#mapAccount:focus {
    background: #999999;
    outline: none;
    color: white;
    /*border-radius: none;*/
}

#mapAccount
{
    border:none;
    background:#fafafa;
    margin-top:5px;
    font-weight: bold;
    color:#0088cc;
}
#mapFilter
{
    border:none;
    margin-top:5px;
    font-weight: bold;
    background:#fafafa;
    color:#0088cc;
}
#mapFilter:focus
{
    background: #999999;
    outline: none;
    color:white;
}

.map .btn-sm
{
    margin:1% 0% 2% 0%;
    height:27px;
    background: #e6e6e6;
    border-radius: 3px;
}
.map .btn-sm:hover
{
    background: #cccccc;
}
.map-search
{
    margin:1% 0% 2% 0%;
    width:200px;
}
#mapTgrid>.row>.col-lg-12.tgrid-content.table-responsive{
    padding:0;
}

#mapTgrid>.row>.col-lg-12.tgrid-content.table-responsive>table.table-bordered.table-condensed{
   margin:0 !important;
}
#mapTgrid>.row:nth-child(2){
    display:none;
}

.map .btn-small
{
    padding: 5px 9px;
    margin-bottom: 2%;
    font-size: 11px;

}
.map-tanklist
{
    cursor: move;
    background: #333333;
    color:white;
    /*margin-bottom: 0px;*/
    height:30px;
}
.map-tanklist span
{
    padding:8px 0px 0px 5px;
    color:white;

}
.map-bottomtable
{
    position: absolute;
    bottom: 0px;
    left: 130px;
    width:63%;
    margin-left:27%;
    background:#fafafa;
}
#mapTgrid
{
    margin:0;
    overflow-x:auto;
    height:100px;
    /*padding-right: 0;*/


}

.glyphicon-chevron-down
{
    color:white;
    margin:3px 6px 0px 0px;
}
#bottomIcon
{
    margin:0px 10px 0px 0px;
    cursor:pointer;
}
#bottomIcon:hover
{
    background: black;
    width:30px;
    height:30px;
    margin-right: 0px;
    margin-left: 0px;
}
.btn-group-vertical
{
    position: absolute;
    top: 50px;
    left: 10px;
}
.btn-group-vertical .btn {
    background: #111111;
    color: white;
    width:60px;
    font-size: 10px;
    height: 50px;
}
.btn-tank
{
    background:rgba(0,0,0,1);
    border-color:black;
    border-radius:0px;
}
.btn-group-vertical .btn-alert
{
    background:#555555;
    border-color:black;
    border-radius:0px;
}
.btn-group-vertical .btn-alert:hover
{
    background: black;
}

#map
{
    width:100%;
    height:77vh;
}
.table.table-bordered.table-condensed>thead>tr.map-headtable>th {
    background: #EEE;
    color:black;
    text-align: left;

}

#map.test{
    height:83vh;
}

