.container-fluidreport{
    padding-right: 0px;
}

.main-row{
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 0px;margin-left: 2px;
    margin-bottom:50px;
}

.side-column{
    border:solid 2px #ddd;
    background-color: #F5F5F5;
    height:450px;
    width:185px;
    padding-left: 5px;

}

.report-class{
    border:0;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 0px;
}

.h4-report{
    font-weight: bold;
    font-size: 14px;
}

.report-side-ullist{
    list-style: none;
    margin:0;

}

.report-side-ullist li{
    padding-bottom: 7px;
    padding-left: 10px;
    padding-top: 7px;
    margin-bottom: 3px;
    color: #666;
    font-size: 13px;
    width:178px;
}

.side-ullist:hover {
    background-color: white;
    cursor:pointer;

}

.report-menu-active{
    background-color: white;
    border:1px solid #ccc;
    border-right:none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: bold;
}

.top-column{
    margin-top: 15px;
    padding-right: 0px;
}

.top-accountcol{
    padding-right: 0px;padding-left: 0px;
}

.account-div{
    border:solid 1px #cccccc;
    background-color: #F5F5F5;
    height: 42px;
    display: flex;
}

.h6-account{
    color: #999999;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.all-cls{
    border:1px solid #cccccc;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left:5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    border-radius: 4px;
}

.dd-toggle{
    text-decoration: none !important;
    color: #333333;
    font-size: 13px;
}

.dd-menu li{
    font-size: 13px;
}

.h6-chooseacc{
    font-size: 10px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #ddd solid;
}

.from-class{
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

.span-cls1{
    font-size: 13px;
    margin-left:0px;
}

.span-cls2{
    font-size: 13px;
    margin-left: 5px;
}

.from-date{
    width: 90px;
    border-radius: 4px;
    border-style: none;
    border:1px solid #cccccc;
    height: 25px !important;
    margin-top: 7px;
}

.too-date{
    width: 90px;
    height: 25px !important;
    border-radius: 4px;
    border-style: none;
    margin-right: 5px;
    border:1px solid #cccccc;
    margin-top: 7px;
}


#miniClrId{
    margin:0;

}


/*.btn-miniclear{
    padding: 2px 6px;
    background-color: #0074cc;
    font-size: 11px;
    border-radius: 4px;
    color: white;
    border-style: none;

    height:21px;
    margin-bottom: 0px !important;
    margin-top: 10px;
}*/

.clr-searchdiv{
    margin-top:10px;margin-left:10px;
}

button.report-srch.btn.btn-default , input.report-srchBox.form-control{
    margin-top:6px;
 }

 button.report-srch.btn.btn-default{
    margin-left:10px;
     margin-top: 6px;
}

 .last-divv{
     position: absolute;
     right:5px;top:7px;
 }

 .number-div{
     font-size: 16px;font-weight: bold;
 }

 .count-div{
     color: #999999;font-size: 10px;
 }

 .table-contfluid{
     margin-top: 15px;
 }

 .tgrid-tablecol{
     padding-right: 0px;padding-left: 5px;
 }

  #decodeList{
  cursor:pointer;
 }

.table.table-bordered.table-condensed>thead>tr>th.th-msgtime{
    text-decoration: none;
}

.table-bordered{
   border-bottom-color: black;
    border-top: none;
    border-collapse:collapse;
}

.refresh-classdiv{
    margin-top: 6px;
    margin-left: 10px;
}

#reportAccountFilter
{
    margin-top: 7px;margin-left: 5px;
}

.acknow-button{
    position:absolute;right:80px;top:7px;
}


.rpt-srch{
    margin-top: 6px;
    height:17px;
}

button.report-srch.btn.btn-default{
    margin-top: 6px;
    height:29px;
}

#rawSBox{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width:220px;
}


#decodeSBox{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}


#dailySBox{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width:220px;
    /*position: absolute;*/
    /*right:5px;*/
}

#srchDaily{
    position: absolute;right:8px;
}


.daily-datelbl{
    height: 27px;
    margin-top: 6px;
    margin-left:10px;
    padding-top: 5px;
}

.report-datediv{
    margin-top: 6px;
    margin-left: 5px;
    height:20px;
}

.daily-ulclas{
    margin-top:8px;
}

.daily-listt{
    padding-bottom: 5px;padding-top:5px;font-size: 13px;padding-left: 15px;
}


.daily-listt:hover{
    background-color: #0088cc;color: white;

}

.dli-active{
    background-color: #0088cc;color: white;
}







