.snap-well {
    padding: 1px;
    margin: 0;
}

.list-ulsnap {
    padding: 0;
    margin: 7px 0 0 2px;
}

.list-ulsnap li {
    list-style-type: none;
    display: inline-block;
}

.input-group-btn {
    font-size: 13px;
    left: -36px;
}

.btn-refresh {
    position: relative;
    left: -37px;
    background-color: #f5f5f5;
    height: 28px;
    font-size: 13px;
}

.go-snapbtn {
    left: 10px;

}

#snapSearch {
    height: 28px;
}

.snapedit-lists {
    padding: 7px 0 4px 20px;
    margin: 0 0 0 25px;
}

.snapedit-lists li {
    display: inline-block;

}

.snapedit-lists li a {
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    color: #0088cc;
}

.snapedit-lists li a:hover {
    color: #026d8b;
}

.snap-rightside {
    padding: 0 27px 0 20px;
    margin-top: 10px;
}

.no-image {
    border: 1px solid darkgray;
}

.print-img {
    width: 18px;
}

.help-img {
    width: 18px;
}

.panel-heading {
    padding: 7px 0 7px 10px;
}

.device-details-panel {
    margin: 0;
}

.device-status-panel {
    margin: 0;
}

.tank-alert-panel {
    margin: 10px 0 0 0;
}

.tank-qnty-panel {
    margin: 10px 0 0 0;
}

.waterlevel {
    position: absolute;
    background-color: rgb(0, 170, 255);
    bottom: 92px;
    left: 57px;
    height: 49px;
    width: 169.7px;
}

.waterlevel-scale {
    position: absolute;
    bottom: 120px;
    left: 115px;
}

.height1 {
    position: absolute;
    padding: 0;
    bottom: 205px;
    left: 256px;
    white-space: nowrap;
    font-size: 11px;
    font-style: italic;
    color: #999;
}

.height1 > p {
    margin: 0;
}

.diameter {
    position: absolute;
    padding: 0;
    bottom: 285px;
    left: 235px;
    white-space: nowrap;
    font-size: 11px;
    font-style: italic;
    color: #999;
}

.diameter > p {
    margin: 0;
}

.watertank {
    /*margin-top: -94px;*/
    padding-left: 25px;
    position: relative;
}

.ruler-horz {
    /*opacity: 0.5;*/
    position: absolute;
    bottom: 300px;
    left: 55px;
    /*max-width: 100%;*/
}

.ruler-vert {
    /*opacity: 0.5;*/
    position: absolute;
    bottom: 90px;
    left: 240px;
    height: 154px;
}

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.snap-bottom-sidepannel-list {
    border: 1px solid #CCCCCC;
    background-color: #F5F5F5;
    margin: 0 10px 0 5px;
}

.snap-bottom-sidepannel-list li a:focus {
    background-color: #0088cc;
}

.snap-bottom-sidepannel-list > .active > a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

#map {
    height: 260px;
    border: 5px solid rgb(221, 221, 221);
    padding: 15px;
}

.m-tab {
    overflow: hidden;
}

.alert-well {
    background: #f5f5f5;
    border: #dddddd 1px solid;
    max-height: 40px;
    margin: 15px;
    padding: 20px 0px 22px 20px;
}

.snap-select {
    border: none;
    background-color: transparent;
    width: 93px;
    font-size: 11px;
    margin-top: -3px;
    color: #0088cc;
    font-weight: bold;

}

.snap-select:hover {
    text-decoration: underline;

}

.snap-select:focus {
    outline: none;

}

.snap-select option {
    color: black;

}

.btnsnap1.active , .btnsnap1.active:hover{
    background-color: #0074CE;
    border: none;
    color: white;
    border: none;
}

.btnsnap1 {
    font-size: 11px;
    height: 20px;
    text-shadow: none;
    background-color: #f5f5f5;
    padding: 0 2px 0 2px;
}

.btnsnap1.active:focus {
    background-color: #0074cc;
    border: none;
    color: white;
    border: none;
}

.btnsnap2.active {
    background-color: #0074CE;
    border: none;
    color: white;
    border: none;
}

.btnsnap2 {
    font-size: 13px;
    height: 28px;
    text-shadow: none;
    background-color: #f5f5f5;
    /*padding:0 10px 0 10px;*/
}

.btnsnap2.active:focus {
    background-color: #0074cc;
    border: none;
    color: white;
    border: none;
}

.btnsnap-chart1.active {
    background-color: #0074CE;
    border: none;
    color: white;
    border: none;
}

.btnsnap-chart1 {
    font-size: 11px;
    height: 20px;
    text-shadow: none;
    background-color: #f5f5f5;
    padding: 0 2px 0 2px;
}

.btnsnap-chart1.active:focus {
    background-color: #0074cc;
    border: none;
    color: white;
    border: none;
}

.btnsnap-chart2.active {
    background-color: #0074CE;
    border: none;
    color: white;
    border: none;
}

.btnsnap-chart2 {
    font-size: 11px;
    height: 20px;
    text-shadow: none;
    background-color: #f5f5f5;
    padding: 0 2px 0 2px;
}

.btnsnap-chart2.active:focus {
    background-color: #0074cc;
    border: none;
    color: white;
    border: none;
}

.snap-select option:active {
    background-color: #0074cc;
}

#snap-dreport-drop {
    border: none;
    background: white;
    color: #0088cc;
    outline: none;
    font-size: 11px;
    font-weight: bold;
}
#snap-hist-drop {
    border: none;
    background: white;
    color: #0088cc;
    outline: none;
    font-size: 11px;
    font-weight: bold;
}


.snap-select-history {
    border: none;
    background-color: transparent;
    font-size: 11px;
    margin: -3px 0 0 0;
    color: #005580;
    width: 100%;
    text-align: right;
}

.snap-select-history:focus {
    outline: none;
}

.highcharts-credits {
    display: none;
}

.snapchart-font {
    font-weight: 600;
}

.pic-details {
    color: #666666;
}

.tab-pane {
    padding: 0 20px;
}



#stsImgUpload.modal{
    margin:0;
    left:0;right:0;top:0;
    width:100%;
    height:100vh;
    background:transparent;
}
#stsImgUpload > .modal-dialog{
    margin-top:80px;
    width:70%;
}
.upload-modal , .img-upload{
    height:65vh;
    position: relative;
}
#stsImgUpload >.modal-dialog > .modal-content > .modal-body{
    max-height:unset;
}
#imgUploadMap{
    position:absolute;
    width:100%;
    height:100%;
    border-bottom-left-radius: 10px;
}
.img-upload>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

