[class^="picons-16-"], [class*=" picons-16-"] {
    background-image: url("../images/icon16.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
    width: 20px;
}
[class^="picons-16-"]:last-child, [class*=" picons-16-"]:last-child {
}

.picons-white {
    background-image: url("../images/icon16-white2.png");
}

.picons-16-basic1-015 {
    background-position: 0 -5274px;
}
.picons-16-basic1-042 {
    background-position: 0 -8640px;
}
.picons-16-basic1-048 {
    background-position: 0 -2934px;
}
.picons-16-basic1-049 {
    background-position: 0 -1692px;
}
.picons-16-basic1-077 {
    background-position: 0 -9144px;
}
.picons-16-basic1-078 {
    background-position: 0 -7794px;
}
.picons-16-basic1-079 {
    background-position: 0 -5616px;
}
.picons-16-basic1-081 {
    background-position: 0 -9090px;
}
.picons-16-basic1-088 {
    background-position: 0 -4446px;
}
.picons-16-basic1-100 {
    background-position: 0 -8856px;
}
.picons-16-basic1-103 {
    background-position: 0 -7326px;
}
.picons-16-basic1-104 {
    background-position: 0 -6048px;
}
.picons-16-basic1-136 {
    background-position: 0 -5310px;
}
.picons-16-basic2-004 {
    background-position: 0 -4302px;
}
.picons-16-basic2-014 {
    background-position: 0 -10476px;
}
.picons-16-basic2-031 {
    background-position: 0 -3168px;
}
.picons-16-basic2-056 {
    background-position: 0 -900px;
}
.picons-16-basic2-065 {
    background-position: 0 -8784px;
}
.picons-16-basic2-067 {
    background-position: 0 -5328px;
}
.picons-16-basic2-109 {
    background-position: 0 -1314px;
}
.picons-16-basic2-253 {
    background-position: 0 -3150px;
}
.picons-16-basic2-087 {
    background-position: 0 -5688px;
}
.picons-16-basic2-088 {
    background-position: 0 -4806px;
}
.picons-16-basic2-095 {
    background-position: 0 -3132px;
}
.picons-16-basic2-106 {
    background-position: 0 -5400px;
}
.picons-16-basic2-110 {
    background-position: 0 -3798px;
}
.picons-16-asset {
    background-position: 0 -6156px;
}

.picons-16-asset-truck {
    background-position: 0 -2720px;
}

.picons-16-asset-car {
    background-position: 0 -9090px;
}

.picons-16-user {
    background-position: 0 -8370px;
}

.picons-16-harsh-acc {
    background-position:0 -2770.1px;
}

.picons-16-harsh-brack {
    background-position:0 -2033px;
}

.picons-16-speeding {
    background-position: 0 -8332px;
}

.picons-16-device {
    /*    background-position: 0 -8118px;*/
    background-position: 0 -7776px;
}

.picons-16-myaccount {
    background-position: 0 -3798px;
}

.picons-16-truck {
    background-position: 0 -9450px;
}

.picons-16-boat {
    background-position: 0 -4500px;
}

.picons-16-subaccount {
    background-position: 0 -5400px;
}

.picons-16-geofence {
    background-position: 0 -4896px;
}

.picons-16-basic2-171 {
    background-position: 0 -6876px;
}
.picons-16-basic2-253 {
    background-position: 0 -3150px;
}
.picons-16-basic2-272 {
    background-position: 0 -4140px;
}
.picons-16-basic2-288 {
    background-position: 0 -3042px;
}
.picons-16-basic2-291 {
    background-position: 0 -8406px;
}
.picons-16-basic2-292 {
    background-position: 0 -4086px;
}
.picons-16-basic2-295 {
    background-position: 0 -2772px;
}
.picons-16-basic2-298 {
    background-position: 0 -5094px;
}
.picons-16-basic2-300 {
    background-position: 0 -7452px;
}
.picons-16-basic3-021 {
    background-position: 0 -8334px;
}
.picons-16-basic3-045 {
    background-position: 0 -7020px;
}
.picons-16-basic3-048 {
    background-position: 0 -8424px;
}
.picons-16-basic3-072 {
    background-position: 0 -504px;
}
.picons-16-basic3-126 {
    background-position: 0 -4428px;
}
.picons-16-basic3-128 {
    background-position: 0 -10530px;
}
.picons-16-basic3-142 {
    background-position: 0 -2538px;
}
.picons-16-basic3-146 {
    background-position: 0 -6930px;
}
[class^="picons-16-white-"], [class*=" picons-16-white-"] {
    background-image: url("./images/icon16-white.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
    width: 20px;
}
[class^="picons-16-white-"]:last-child, [class*=" picons-16-white-"]:last-child {
}
.picons-16-white-basic1-077 {
    background-position: 0 -54px;
}
.picons-16-white-basic1-078 {
    background-position: 0 -72px;
}
.picons-16-white-basic1-079 {
    background-position: 0 -18px;
}
.picons-16-white-basic2-004 {
    background-position: 0 0;
}
.picons-16-white-basic2-088 {
    background-position: 0 -36px;
}
[class^="picons-24-"], [class*=" picons-24-"] {
    background-image: url("./images/icon24.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    vertical-align: text-top;
    width: 28px;
}
[class^="picons-24-"]:last-child, [class*=" picons-24-"]:last-child {
}
.picons-24-basic1-005 {
    background-position: 0 -8632px;
}
.picons-24-basic1-016 {
    background-position: 0 -8450px;
}
.picons-24-basic2-014 {
    background-position: 0 -16614px;
}
.picons-24-basic2-056 {
    background-position: 0 -1742px;
}
.picons-24-basic2-095 {
    background-position: 0 -6526px;
}
.picons-24-basic2-106 {
    background-position: 0 -9932px;
}
.picons-24-basic2-159 {
    background-position: 0 -4212px;
}
.picons-24-basic2-162 {
    background-position: 0 -910px;
}
.picons-24-basic2-166 {
    background-position: 0 -10556px;
}
.picons-24-basic2-291 {
    background-position: 0 -14508px;
}
.picons-24-basic2-300 {
    background-position: 0 -9958px;
}
.picons-24-basic3-072 {
    background-position: 0 -962px;
}
.picons-24-basic3-142 {
    background-position: 0 -5564px;
}
[class^="picons-64-"], [class*=" picons-64-"] {
    background-image: url("./images/icon64.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 64px;
    line-height: 64px;
    vertical-align: text-top;
    width: 64px;
}
[class^="picons-64-"]:last-child, [class*=" picons-64-"]:last-child {
}
.picons-64-basic3-001 {
    background-position: 0 0;
}
[class^="picons-128-"], [class*=" picons-128-"] {
    background-image: url("./images/icon128.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 128px;
    line-height: 128px;
    vertical-align: text-top;
    width: 138px;
}
[class^="picons-128-"]:last-child, [class*=" picons-128-"]:last-child {
}
.picons-128-basic1-005 {
    background-position: 0 -780px;
}
.picons-128-basic1-088 {
    background-position: 0 -910px;
}
.picons-128-basic1-130 {
    background-position: 0 -130px;
}
.picons-128-basic2-095 {
    background-position: 0 -260px;
}
.picons-128-basic2-197 {
    background-position: 0 0;
}
.picons-128-basic2-291 {
    background-position: 0 -520px;
}
.picons-128-basic3-001 {
    background-position: 0 -390px;
}
.picons-128-basic3-146 {
    background-position: 0 -650px;
}