#bodyContent {
  padding: 0;
}
.img-logo{
  padding-right: 50px;
  padding-left: 20px;
  padding-top: 2px;
}
.navbar{
  overflow:hidden;
}
.navbar-brand{
  padding:0;
}
.tab-content{
  clear:both;
  overflow:unset;
}
/*main_menu start*/
.main_menu{
    margin:0;
}
.main_menu li a {
  color:#555;
}
.main_menu li.active a {
  font-weight:bold;
}
#menu_collapse{
  height:37px;
  margin-top:5px;
}
.navbar {
  height: 37px; }
.navbar .container{

}

.navbar-inverse {
  background: #014F7F;
  margin: 0;
  border-style: none;
  border-radius: 0;
  min-height: 36px;
overflow:initial;
}

.navbar-inverse .navbar-nav > li > a {
  color: #b5c8d7;

  cursor:pointer;


}

.navbar .nav .active > a, .navbar .nav .active > a:hover, .nav .dropdown.active {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  background-color: #001E33;
  border-right: 1px solid #114d7b;
  border-left: 1px solid #114d7b;
  height: 36px; }

.navbar-nav > li > a {
  padding-top: 8px;
  font-size: 13px;
  padding-bottom: 5px; }
/*.tSupport_dw{
  width:200px;
  height: 200px;
  background:blue;
}*/

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:active:focus, .btn-info:active:hover {
  background: #fff;
  color: #000; }

.collapse-btn {
  position: absolute;
  left: 49%;
  top: 20%;
  text-shadow:unset;
  margin: 0 !important;
  transform: translate(-50%, -50%);
  border-style: none;
  background: #fff;
  color: #555;
  border-radius: 4px;


}
.collapse-btn:hover{
  text-shadow:unset;
}
.collapse-btn.btn:active{
  box-shadow : unset;
}
.collapse-btn.btn.btn-info{
  padding-top:8px;
  padding-bottom:0;
}

/*.toggleicon {
  font-size: 14px; }*/
/*main_menu end*/

::-webkit-scrollbar {
  width: 5px;
  height:7px;
}

::-webkit-scrollbar-track:horizontal {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;


}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
  background:#ccc;

  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:horizontal:hover {
  background:#FF0000;
}


::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  background:#ccc;

  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}



/*status table grid end*/

/*googleTranslate*/
.googleTranslate{
  margin-top:5px;
}
.googleTranslate.pull-right{
  right:20px;
}
.google-translate{
  position:absolute;
  right: 10px;
  top: 5px;
}

#loginBtn.btn.btn-primary{
  margin-top:3px;
}
#loginMenu li:hover , #loginMenu li a:hover{
  cursor:pointer;
}




/*googleTranslate end*/

/*footer start*/
.navbar.navbar-inverse.navbar-fixed-bottom {
  background: #222;
  font-size: 90%;
  padding: 10px;
}
/*footer end*/
